.interactive{
	background: #169fbf;
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	@media only screen and(max-width:680px){
		margin:18% auto;
	}
}
.wrapper-app{
	width:85%;
	margin:0 auto;
	text-align:left;
	@media only screen and(max-width:680px){
		width:90%;
	}
}
.interactive .arrow-right {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid #80d0e7;
	margin-left: 17px;
	margin: 0 auto;
	margin-top:16px;
}
.wrapper-app .wrapper-text{
	width:60%;
	display:inline-block;
	vertical-align:middle;
	@media only screen and(max-width:680px){
		width:49%;
	}
}
.wrapper-app .wrapper-img{
	width:39%;
	display:inline-block;
	position:relative;
	vertical-align:middle;
	z-index:100;
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
		//right: 10px;
	}  
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
		//right: 10px;
	}   
	@media only screen and(max-width:680px){
		//width:49%;
		//margin-top: 15%;
	}
}
.interactive  img.boca-imagen {
	width: 83%;
	@media only screen and(max-width:680px){
		width:100% !important;
	} 
}
.interactive p.referencias {
	padding-bottom: 20px !important;
	width: 100%;
	letter-spacing: 1.3px;
	text-align: center !important;

	font-size:1.4em;
	color: #FFFFFF !important;
}
.interactive h2{
	font-size: 5em;
	line-height: 1;
	margin: 25px 0px 0px 25px;
	@media only screen and(min-width:1880px){
		font-size:6em;	 
	}
	@media only screen and(max-width:990px){
		font-size:3em;
	}   
	@media only screen and(max-width:680px){
		margin: 25px 0px 0px 0px;
		font-size:1.8em;
		width: 100%;
	}
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
		font-size:4em;
	}  
}
.interactive .accion{
	background-color: #80d0e7;
	position: relative;
	padding-right: 75px !important;
	display: inline-block;
	color: #11647a;
	line-height: 1;
	padding: 10px;
	cursor: pointer;
	font-size: 1.3em;
	@media only screen and(max-width:680px){
		padding: 6px;
		cursor: pointer;
		font-size: 1em;
	}	 
}

.interactive .play_button {
	height: 100%;
	width: 50px;
	position: absolute;
	background: #11647a;
	top: 0;
	right: 0;
}

.interactive .shadow{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	display: none;
	z-index: 100;
	/*top: 69px !important;*/
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.interactive .shadow.active{
	display: block;
}

.interactive .tooltip {
	position: absolute;
	padding: 5px;
	background: white;
	border: solid 2px #11647a;
	text-align: center;
	color:#1a9ebf;
	font-size: 1.3em;
	-webkit-animation: bounce .4s ease infinite alternate;
	-moz-animation: bounce .4s ease infinite alternate;
	-ms-animation: bounce .4s ease infinite alternate;
	-o-animation: bounce .4s ease infinite alternate;
	animation: bounce .4s ease infinite alternate;
	display: none;
	z-index: 100;
	cursor: pointer;
}

.interactive .ribbon {
	padding: 5px;
	background: white;
	font-size: 1.3em;
	border: solid 2px #11647a;
	text-align: center;
	color: #1a9ebf;
	-webkit-animation: bounce .4s ease infinite alternate;
	-moz-animation: bounce .4s ease infinite alternate;
	-ms-animation: bounce .4s ease infinite alternate;
	-o-animation: bounce .4s ease infinite alternate;
	animation: bounce .4s ease infinite alternate;
	margin-bottom: 20px;
	@media only screen and(max-width:680px){
	font-size:1.2em;
	}
}

.interactive .ribbon::after, .interactive .tooltip::after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: #ffffff transparent transparent transparent;
	bottom: -20px;
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
}
.interactive ul.line-products li.active .tooltip{
	display: block !important;
}
.interactive ul.line-products li.active.show .tooltip{
	display: none !important;
}
.interactive ul.line-products li.cepillo-line .tooltip{
	top: -42px;
	left: -28px;
	width: 100px;
}
.interactive ul.line-products li.seda-line .tooltip{
	top: -42px;
	left: -28px;
	width: 100px;
}
.interactive ul.line-products li.enjuage-line .tooltip{
	top: -42px;
	left: -28px;
	width: 100px;
}
.interactive ul.line-products li .instrucciones {
	display: none;
	position: absolute;
	z-index: 1000;
	@media only screen and(max-width:680px){
		img{
			width:100%;
		}
	}
	
}
.interactive ul.line-products li.cepillo-line .instrucciones{
	width: 275px;
	bottom:100%;
	@media only screen and(max-width:680px){
		left:-88px;
	}
	@media only screen and(max-width:320px){
		left: -35px;
	}
}
.interactive ul.line-products li.seda-line .instrucciones{
	width: 275px;
	bottom: 100%;
	left: 0px;
	@media only screen and(max-width:680px){
		left: -163px;
	}
	@media only screen and(max-width:320px){
		left: -110px;
	}
}
.interactive ul.line-products li.enjuage-line .instrucciones{
	width: 275px;
	bottom: 100%;
	left: 0px;
	@media only screen and(max-width:680px){
		left: -250px;
	}
	@media only screen and(max-width:320px){
		left: -205px;
	}
}
.interactive ul.line-products li.active.show .instrucciones{
	display: block;
	z-index: 16000;
}
.interactive ul.line-products{
	list-style: none;
	display: inline-block;
	margin: 15px 0;
	position: relative;
	background: #11647a;
	width: 100%;
	padding: 5% !important;
	box-sizing: border-box;
	z-index: 100;
}

.interactive ul.line-products li{
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
	position: relative;
	cursor: pointer;
}

.interactive ul.line-products li img.plus{
	margin-top: 35px;
}


@-webkit-keyframes bounce { 
	from { }
	to { -webkit-transform: translateY(-10px); }
}
@-moz-keyframes bounce { 
	from { }
	to { -moz-transform: translateY(-10px); }
}
@-ms-keyframes bounce { 
	from { }
	to { -ms-transform: translateY(-10px); }
}
@-o-keyframes bounce { 
	from { }
	to { -o-transform: translateY(-10px); }
}
@keyframes bounce { 
	from { }
	to { transform: translateY(-10px); }
}

@media only screen and (max-width: 640px){
	.interactive{
		width: 100%;
	}
	.interactive img.cepillo {
		width: 28px;
	}

	.interactive img.seda {
		width: 46px;
	}

	.interactive img.botella {
		width: 35px;
	}

	.interactive img.plus {
		width: 20px;
		margin-top: 20px !important;
	}

	.interactive ul.line-products .resultado{
		display: block;
	}
	.interactive ul.line-products .resultado img{
		width: 200px;
		display: block;
		margin: 0 auto;
	}

	.interactive ul.line-products li{
		margin-left: 10px;
		vertical-align: bottom;
	}
	.interactive ul.line-products li.enjuage-line .tooltip {
		left: -41px;
	}
	.interactive p.referencias {
		font-size: 10px !important;
		margin-left: -5px !important;
	}
	.interactive ul.line-products li.cepillo-line .tooltip{
		left: -21px;
	}
}