
.gotham-font{
font-family:"GothamMedium";
}
.knockout-font{
font-family:'Knockout-HTF69-FullLiteweight';
font-weight:100;
}
.white-text{
color:#fff;
}
.acid-text{
	color:#aae6f4;
}
.blue-bg{
  background-color:#1581a1;
}
.green-bg{
  background-color:#239c6b;
}
.pink-bg{
  background-color:#8d69a0;
}
.uppercase{
text-transform:uppercase;
}
.light-blue{
color:#7fd1e8;
}
.acid-blue{
color:#7fd1e8;
}
.green-text{
color:#389367;
}
.black-text{
color:#000;
}
.marine-text{
color:#11647a;
}
.gray-text{
  color:#9a9ba1;
}
.marine-bg{
 background-color:#11647a;
 padding:1%;
}
.big-text{
font-size:1.4em;
}
.align-right{
	text-align:right !important;
}
.little-text{
font-size:.7em;
@media screen and (min-width: 1600px){
font-size:.8em;
}
}
.mini-text{
font-size:.5em;
}
.adjust-show{
@media only screen and (max-width: 680px){
  padding:0 20px 0 20px;
}
}
.last-border{
  border-bottom:0px !important;
}
// .long-text{
// font-size:2.5em !important;
// }
.flex{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display: -o-flex;
display: flex;
flex: 1;
-webkit-flex-direction: row;
-moz-flex-direction: row;
-ms-flex-direction: row;
-o-flex-direction: row;
flex-direction: row;
align-items:center;

@media only screen and (max-width: 680px){
-webkit-flex-direction: column;
-moz-flex-direction: column;
-ms-flex-direction: column;
-o-flex-direction: column;
flex-direction: column;
align-items:center;
justify-content:space-around;
}
}
.remove-breaks{
@media only screen and (max-width: 320px){
br{
display:none;
}
}
}
.white-line{
background-color:#fff;
width:5px;
height:100px;
display:inline-block;
@media only screen and(max-width:680px){
width: 2px;
height: 150px;
} 
}
.active-menu{
  background-color: #054c5f;
}
.place-left{
margin-left:30px;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
margin-left:0px;
}  
@media only screen and(max-width:680px){
margin-left:0px;
}
}
.retain-size{
  width:initial !important;
}
.bottom-adjust{
  margin-bottom:0px !important; 
}
.btn-grayish{
width:100%;
background-color:#0a697f;
padding:10px;
border-radius:30px;
width:25%;
@media only screen and(max-width:680px){
width:40%;
margin: 10px auto;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
margin: 10px auto;
}  
h3{
font-size:2em;
margin:5px 0 5px 0;
}
}
.btn-grayish:hover{
cursor:pointer;
}
.long-list{
 
  @media screen and (min-width: 1100px){
     font-size:.9em !important;
  }
}

