body, html {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body, html {
      overflow-y: auto; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    body, html {
      overflow-y: auto; } }
  @media only screen and (max-width: 680px) {
    body, html {
      overflow-y: auto; } }

body {
  background-color: #169fbf;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  transition: all .2s ease-in; }

#loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #169fbf; }
  #loader .loader-content {
    display: block;
    margin: 25% auto;
    text-align: center;
    width: 50%; }
    @media only screen and (min-width: 1880px) {
      #loader .loader-content {
        margin: 20% auto; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      #loader .loader-content {
        margin: 40% auto; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      #loader .loader-content {
        margin: 20% auto; } }
    @media only screen and (max-width: 680px) {
      #loader .loader-content {
        width: 40%;
        margin: 50% auto; } }
    @media only screen and (max-width: 320px) {
      #loader .loader-content {
        width: 50%;
        margin: 30% auto; } }
    #loader .loader-content .loader-img {
      -webkit-animation: wobble .9s ease-in-out infinite;
      -moz-animation: wobble .9s ease-in-out infinite;
      animation: wobble .9s ease-in-out infinite;
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      transform-origin: center;
      -webkit-transition: padding .3s, center .3s;
      -moz-transition: padding .3s, center .3s;
      transition: padding .3s, center .3s; }
@-webkit-keyframes wobble {
  33% {
    -webkit-transform: rotate(5deg); }
  66% {
    -webkit-transform: rotate(-5deg); } }
@-moz-keyframes wobble {
  33% {
    -webkit-transform: rotate(5deg); }
  66% {
    -webkit-transform: rotate(-5deg); } }
@keyframes wobble {
  33% {
    -webkit-transform: rotate(5deg); }
  66% {
    -webkit-transform: rotate(-5deg); } }
#app {
  display: none; }

sup {
  font-size: .5em; }

@font-face {
  font-family: "GothamMedium";
  src: url("fonts/gothammediumregular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/gothammediumregular.eot?#iefix") format("embedded-opentype");
  /* IE6-IE8 */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Knockout-HTF69-FullLiteweight';
  src: url("fonts/knockout-htf69-fullliteweight.eot");
  src: url("fonts/knockout-htf69-fullliteweight.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }
.gotham-font {
  font-family: "GothamMedium"; }

.knockout-font {
  font-family: 'Knockout-HTF69-FullLiteweight';
  font-weight: 100; }

.white-text {
  color: #fff; }

.acid-text {
  color: #aae6f4; }

.blue-bg {
  background-color: #1581a1; }

.green-bg {
  background-color: #239c6b; }

.pink-bg {
  background-color: #8d69a0; }

.uppercase {
  text-transform: uppercase; }

.light-blue {
  color: #7fd1e8; }

.acid-blue {
  color: #7fd1e8; }

.green-text {
  color: #389367; }

.black-text {
  color: #000; }

.marine-text {
  color: #11647a; }

.gray-text {
  color: #9a9ba1; }

.marine-bg {
  background-color: #11647a;
  padding: 1%; }

.big-text {
  font-size: 1.4em; }

.align-right {
  text-align: right !important; }

.little-text {
  font-size: .7em; }
  @media screen and (min-width: 1600px) {
    .little-text {
      font-size: .8em; } }

.mini-text {
  font-size: .5em; }

@media only screen and (max-width: 680px) {
  .adjust-show {
    padding: 0 20px 0 20px; } }

.last-border {
  border-bottom: 0px !important; }

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  flex: 1;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: center; }
  @media only screen and (max-width: 680px) {
    .flex {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; } }

@media only screen and (max-width: 320px) {
  .remove-breaks br {
    display: none; } }

.white-line {
  background-color: #fff;
  width: 5px;
  height: 100px;
  display: inline-block; }
  @media only screen and (max-width: 680px) {
    .white-line {
      width: 2px;
      height: 150px; } }

.active-menu {
  background-color: #054c5f; }

.place-left {
  margin-left: 30px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .place-left {
      margin-left: 0px; } }
  @media only screen and (max-width: 680px) {
    .place-left {
      margin-left: 0px; } }

.retain-size {
  width: initial !important; }

.bottom-adjust {
  margin-bottom: 0px !important; }

.btn-grayish {
  width: 100%;
  background-color: #0a697f;
  padding: 10px;
  border-radius: 30px;
  width: 25%; }
  @media only screen and (max-width: 680px) {
    .btn-grayish {
      width: 40%;
      margin: 10px auto; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .btn-grayish {
      margin: 10px auto; } }
  .btn-grayish h3 {
    font-size: 2em;
    margin: 5px 0 5px 0; }

.btn-grayish:hover {
  cursor: pointer; }

@media screen and (min-width: 1100px) {
  .long-list {
    font-size: .9em !important; } }

.interactive {
  background: #169fbf;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto; }
  @media only screen and (max-width: 680px) {
    .interactive {
      margin: 18% auto; } }

.wrapper-app {
  width: 85%;
  margin: 0 auto;
  text-align: left; }
  @media only screen and (max-width: 680px) {
    .wrapper-app {
      width: 90%; } }

.interactive .arrow-right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #80d0e7;
  margin-left: 17px;
  margin: 0 auto;
  margin-top: 16px; }

.wrapper-app .wrapper-text {
  width: 60%;
  display: inline-block;
  vertical-align: middle; }
  @media only screen and (max-width: 680px) {
    .wrapper-app .wrapper-text {
      width: 49%; } }

.wrapper-app .wrapper-img {
  width: 39%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  z-index: 100; }

.interactive img.boca-imagen {
  width: 83%; }
  @media only screen and (max-width: 680px) {
    .interactive img.boca-imagen {
      width: 100% !important; } }

.interactive p.referencias {
  padding-bottom: 20px !important;
  width: 100%;
  letter-spacing: 1.3px;
  text-align: center !important;
  font-size: 1.4em;
  color: #FFFFFF !important; }

.interactive h2 {
  font-size: 5em;
  line-height: 1;
  margin: 25px 0px 0px 25px; }
  @media only screen and (min-width: 1880px) {
    .interactive h2 {
      font-size: 6em; } }
  @media only screen and (max-width: 990px) {
    .interactive h2 {
      font-size: 3em; } }
  @media only screen and (max-width: 680px) {
    .interactive h2 {
      margin: 25px 0px 0px 0px;
      font-size: 1.8em;
      width: 100%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .interactive h2 {
      font-size: 4em; } }

.interactive .accion {
  background-color: #80d0e7;
  position: relative;
  padding-right: 75px !important;
  display: inline-block;
  color: #11647a;
  line-height: 1;
  padding: 10px;
  cursor: pointer;
  font-size: 1.3em; }
  @media only screen and (max-width: 680px) {
    .interactive .accion {
      padding: 6px;
      cursor: pointer;
      font-size: 1em; } }

.interactive .play_button {
  height: 100%;
  width: 50px;
  position: absolute;
  background: #11647a;
  top: 0;
  right: 0; }

.interactive .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 100;
  /*top: 69px !important;*/
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.interactive .shadow.active {
  display: block; }

.interactive .tooltip {
  position: absolute;
  padding: 5px;
  background: white;
  border: solid 2px #11647a;
  text-align: center;
  color: #1a9ebf;
  font-size: 1.3em;
  -webkit-animation: bounce .4s ease infinite alternate;
  -moz-animation: bounce .4s ease infinite alternate;
  -ms-animation: bounce .4s ease infinite alternate;
  -o-animation: bounce .4s ease infinite alternate;
  animation: bounce .4s ease infinite alternate;
  display: none;
  z-index: 100;
  cursor: pointer; }

.interactive .ribbon {
  padding: 5px;
  background: white;
  font-size: 1.3em;
  border: solid 2px #11647a;
  text-align: center;
  color: #1a9ebf;
  -webkit-animation: bounce .4s ease infinite alternate;
  -moz-animation: bounce .4s ease infinite alternate;
  -ms-animation: bounce .4s ease infinite alternate;
  -o-animation: bounce .4s ease infinite alternate;
  animation: bounce .4s ease infinite alternate;
  margin-bottom: 20px; }
  @media only screen and (max-width: 680px) {
    .interactive .ribbon {
      font-size: 1.2em; } }

.interactive .ribbon::after, .interactive .tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  bottom: -20px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0; }

.interactive ul.line-products li.active .tooltip {
  display: block !important; }

.interactive ul.line-products li.active.show .tooltip {
  display: none !important; }

.interactive ul.line-products li.cepillo-line .tooltip {
  top: -42px;
  left: -28px;
  width: 100px; }

.interactive ul.line-products li.seda-line .tooltip {
  top: -42px;
  left: -28px;
  width: 100px; }

.interactive ul.line-products li.enjuage-line .tooltip {
  top: -42px;
  left: -28px;
  width: 100px; }

.interactive ul.line-products li .instrucciones {
  display: none;
  position: absolute;
  z-index: 1000; }
  @media only screen and (max-width: 680px) {
    .interactive ul.line-products li .instrucciones img {
      width: 100%; } }

.interactive ul.line-products li.cepillo-line .instrucciones {
  width: 275px;
  bottom: 100%; }
  @media only screen and (max-width: 680px) {
    .interactive ul.line-products li.cepillo-line .instrucciones {
      left: -88px; } }
  @media only screen and (max-width: 320px) {
    .interactive ul.line-products li.cepillo-line .instrucciones {
      left: -35px; } }

.interactive ul.line-products li.seda-line .instrucciones {
  width: 275px;
  bottom: 100%;
  left: 0px; }
  @media only screen and (max-width: 680px) {
    .interactive ul.line-products li.seda-line .instrucciones {
      left: -163px; } }
  @media only screen and (max-width: 320px) {
    .interactive ul.line-products li.seda-line .instrucciones {
      left: -110px; } }

.interactive ul.line-products li.enjuage-line .instrucciones {
  width: 275px;
  bottom: 100%;
  left: 0px; }
  @media only screen and (max-width: 680px) {
    .interactive ul.line-products li.enjuage-line .instrucciones {
      left: -250px; } }
  @media only screen and (max-width: 320px) {
    .interactive ul.line-products li.enjuage-line .instrucciones {
      left: -205px; } }

.interactive ul.line-products li.active.show .instrucciones {
  display: block;
  z-index: 16000; }

.interactive ul.line-products {
  list-style: none;
  display: inline-block;
  margin: 15px 0;
  position: relative;
  background: #11647a;
  width: 100%;
  padding: 5% !important;
  box-sizing: border-box;
  z-index: 100; }

.interactive ul.line-products li {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  position: relative;
  cursor: pointer; }

.interactive ul.line-products li img.plus {
  margin-top: 35px; }

@-webkit-keyframes bounce {
  to {
    -webkit-transform: translateY(-10px); } }
@-moz-keyframes bounce {
  to {
    -moz-transform: translateY(-10px); } }
@-ms-keyframes bounce {
  to {
    -ms-transform: translateY(-10px); } }
@-o-keyframes bounce {
  to {
    -o-transform: translateY(-10px); } }
@keyframes bounce {
  to {
    transform: translateY(-10px); } }
@media only screen and (max-width: 640px) {
  .interactive {
    width: 100%; }

  .interactive img.cepillo {
    width: 28px; }

  .interactive img.seda {
    width: 46px; }

  .interactive img.botella {
    width: 35px; }

  .interactive img.plus {
    width: 20px;
    margin-top: 20px !important; }

  .interactive ul.line-products .resultado {
    display: block; }

  .interactive ul.line-products .resultado img {
    width: 200px;
    display: block;
    margin: 0 auto; }

  .interactive ul.line-products li {
    margin-left: 10px;
    vertical-align: bottom; }

  .interactive ul.line-products li.enjuage-line .tooltip {
    left: -41px; }

  .interactive p.referencias {
    font-size: 10px !important;
    margin-left: -5px !important; }

  .interactive ul.line-products li.cepillo-line .tooltip {
    left: -21px; } }
/* The Overlay (background) */
.open {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 900; }

.open:hover {
  cursor: pointer; }

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: #006666;
  /* Black fallback color */
  background-color: #11647a;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .2 ease-in;
  /* Position the content inside the overlay */
  /* The navigation links inside the overlay */
  /* Position the close button (top right corner) */ }
  .overlay .overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 30px; }
    @media only screen and (max-width: 680px) {
      .overlay .overlay-content {
        top: 10%; } }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */ }
    .overlay a img {
      display: block;
      width: 70%;
      margin: 0px auto; }
    .overlay a h4 {
      text-align: center;
      margin: 5px 0 5px 0; }
  .overlay .closebtn {
    position: absolute;
    right: 15px;
    font-size: 3em;
    color: #fff;
    text-decoration: none; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .overlay .closebtn {
        right: 10px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .overlay .closebtn {
        right: 10px; } }
    @media only screen and (max-width: 680px) {
      .overlay .closebtn {
        top: 0px;
        right: 10px;
        font-size: 3.5em; } }
  .overlay .closebtn:hover {
    background-color: transparent !important; }

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  background-color: #054c5f;
  cursor: pointer !important; }

.slides {
  position: relative;
  display: block;
  margin: 7% auto;
  text-align: center; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .slides {
      margin: 7% auto; } }
  .slides .btn {
    position: absolute;
    top: 75%;
    z-index: 200; }
    @media only screen and (max-width: 780px) {
      .slides .btn {
        top: 58%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .slides .btn {
        bottom: 16%; } }
    .slides .btn img {
      width: 45%; }
      @media only screen and (max-width: 680px) {
        .slides .btn img {
          width: 55%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .slides .btn img {
          width: 37%; } }
      @media only screen and (max-width: 320px) {
        .slides .btn img {
          width: 65%; } }
  .slides .btn:hover {
    cursor: pointer !important; }
  .slides .back {
    left: -1%; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .back {
        left: initial;
        right: 88%; } }
    @media only screen and (max-width: 680px) {
      .slides .back {
        left: initial;
        right: 80%; } }
    @media only screen and (max-width: 320px) {
      .slides .back {
        right: 85%; } }
  .slides .forward {
    right: -1%; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .forward {
        right: initial;
        left: 88%; } }
    @media only screen and (max-width: 680px) {
      .slides .forward {
        right: initial;
        left: 80%; } }
    @media only screen and (max-width: 320px) {
      .slides .forward {
        left: 85%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .slides .intro {
      margin-top: 17%; } }
  .slides .intro .side {
    vertical-align: middle;
    display: inline-block;
    width: 48%; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .intro .side {
        width: 100%; } }
    @media only screen and (max-width: 680px) {
      .slides .intro .side {
        width: 100%;
        padding: 0; } }
    .slides .intro .side img {
      width: 100%;
      margin-top: 10px; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .intro .side img {
          width: 50%;
          margin: 10px auto 10px; } }
      @media only screen and (max-width: 680px) {
        .slides .intro .side img {
          width: 70%;
          margin: 10px auto 10px; } }
    .slides .intro .side .logo {
      width: 13%;
      position: absolute;
      top: -10%;
      right: 4%; }
      @media only screen and (max-width: 680px) {
        .slides .intro .side .logo {
          width: 29%;
          position: absolute;
          top: 0%; } }
    .slides .intro .side h1 {
      font-size: 6em;
      text-align: left;
      line-height: 1;
      margin: 0px 0 5px 0; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .intro .side h1 {
          text-align: center; } }
      @media only screen and (max-width: 680px) {
        .slides .intro .side h1 {
          font-size: 3em;
          text-align: center;
          padding: 10px; } }
      @media only screen and (min-width: 1880px) {
        .slides .intro .side h1 {
          font-size: 8em; } }
    .slides .intro .side h3 {
      font-size: 2.1em; }
      @media only screen and (max-width: 680px) {
        .slides .intro .side h3 {
          font-size: 1.8em; } }
  .slides .benefits .benefits-title {
    justify-content: space-around; }
  .slides .benefits .benefits-content {
    justify-content: space-around; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .benefits .benefits-content {
        flex-wrap: wrap;
        margin: 41px; } }
  .slides .benefits .title-part img {
    margin: 0 auto;
    display: block; }
    @media only screen and (max-width: 680px) {
      .slides .benefits .title-part img {
        margin: 3px auto 5px;
        width: 55%; } }
  .slides .benefits .title-part h2 {
    font-size: 5em;
    text-align: center;
    line-height: .9; }
    @media screen and (min-width: 1600px) {
      .slides .benefits .title-part h2 br {
        display: none; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .slides .benefits .title-part h2 {
        font-size: 4em; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .benefits .title-part h2 {
        font-size: 4em; }
        .slides .benefits .title-part h2 br {
          display: none; } }
    @media only screen and (max-width: 680px) {
      .slides .benefits .title-part h2 {
        font-size: 2.7em;
        margin-bottom: 5px;
        margin-top: 15px; } }
  .slides .benefits .title-part h3 {
    font-size: 3.1em;
    text-align: center;
    line-height: .9; }
    @media screen and (min-width: 1600px) {
      .slides .benefits .title-part h3 {
        font-size: 4em; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .benefits .title-part h3 {
        font-size: 2.5em;
        margin-top: 10px;
        margin-bottom: 0;
        padding: 10px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .slides .benefits .title-part h3 {
        font-size: 2.8em;
        margin: 25px 0 25px 0; } }
    @media only screen and (max-width: 680px) {
      .slides .benefits .title-part h3 {
        font-size: 2em;
        margin-bottom: 5px;
        margin-top: 5px; } }
  .slides .marine-line {
    display: inline-block;
    margin: 15px 0;
    position: relative;
    background: #11647a;
    width: 100%;
    padding: 15px !important;
    box-sizing: border-box;
    z-index: 100; }
  .slides .footnote {
    width: 85%;
    margin: 5px auto; }
    .slides .footnote h3 {
      text-align: center;
      font-size: 1.1em;
      letter-spacing: 2px; }
      @media only screen and (max-width: 680px) {
        .slides .footnote h3 {
          font-size: .8em; } }
    @media screen and (min-width: 1600px) {
      .slides .footnote {
        width: 90%; } }
  .slides .user-graph iframe {
    width: 520px !important;
    height: 520px !important;
    display: block;
    margin: 20px auto 20px;
    border: none; }
    @media screen and (max-width: 680px) {
      .slides .user-graph iframe {
        width: 100% !important;
        height: 320px !important;
        margin-top: 25%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .slides .user-graph #canvas {
      width: 420px !important;
      height: 420px !important; } }
  .slides .user-graph .marine-line h2 {
    font-size: 2.2em;
    text-align: center; }
    @media screen and (min-width: 1600px) {
      .slides .user-graph .marine-line h2 {
        font-size: 3.2em; } }
    @media only screen and (max-width: 680px) {
      .slides .user-graph .marine-line h2 {
        font-size: 1.6em;
        margin-top: 10px;
        padding: 0px 25px 0 25px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .slides .user-graph .marine-line h2 {
        font-size: 2em;
        margin: 5px 0 5px 0; } }
    @media only screen and (max-width: 320px) {
      .slides .user-graph .marine-line h2 {
        font-size: 1.3em; } }
  @media screen and (max-width: 680px) {
    .slides .why-listerine {
      margin-top: 15%; } }
  .slides .why-listerine .why-title {
    text-align: center; }
    .slides .why-listerine .why-title h2 {
      font-size: 3em;
      margin: 0; }
      @media screen and (max-width: 680px) {
        .slides .why-listerine .why-title h2 {
          font-size: 2.3em; } }
    .slides .why-listerine .why-title h3 {
      font-size: 1.8em;
      margin: 5px 0 10px 0; }
      @media screen and (max-width: 680px) {
        .slides .why-listerine .why-title h3 {
          font-size: 1.3em; } }
    @media screen and (max-width: 680px) {
      .slides .why-listerine .why-title {
        -webkit-flex-direction: column-reverse !important;
        -moz-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
        -o-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important; } }
  .slides .why-listerine .mouth-graph {
    margin-top: 0%;
    justify-content: space-around; }
    @media screen and (max-width: 680px) {
      .slides .why-listerine .mouth-graph {
        flex-direction: column-reverse !important; } }
    .slides .why-listerine .mouth-graph .mouth-img {
      position: relative; }
      .slides .why-listerine .mouth-graph .mouth-img .mouth-btn {
        position: absolute;
        z-index: 20;
        color: #11647a;
        border-radius: 50px;
        border: 3px solid #11647a;
        width: 50px;
        height: 50px; }
        @media screen and (max-width: 680px) {
          .slides .why-listerine .mouth-graph .mouth-img .mouth-btn {
            width: 30px;
            height: 30px; } }
        .slides .why-listerine .mouth-graph .mouth-img .mouth-btn h2 {
          text-align: center;
          margin: 15px 0 15px 0; }
          @media screen and (max-width: 680px) {
            .slides .why-listerine .mouth-graph .mouth-img .mouth-btn h2 {
              margin: 7px 0 15px 0; } }
      .slides .why-listerine .mouth-graph .mouth-img .mouth-btn:hover {
        cursor: pointer; }
      .slides .why-listerine .mouth-graph .mouth-img .mouth-btn.active {
        background-color: #11647a; }
        .slides .why-listerine .mouth-graph .mouth-img .mouth-btn.active h2 {
          color: #fff; }
      .slides .why-listerine .mouth-graph .mouth-img .top-side {
        top: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0; }
      .slides .why-listerine .mouth-graph .mouth-img .right-side {
        right: 0;
        top: 40%; }
        @media screen and (max-width: 680px) {
          .slides .why-listerine .mouth-graph .mouth-img .right-side {
            right: 28%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .slides .why-listerine .mouth-graph .mouth-img img {
          width: 95%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .why-listerine .mouth-graph .mouth-img img {
          width: 95%; } }
      @media screen and (max-width: 680px) {
        .slides .why-listerine .mouth-graph .mouth-img img {
          width: 30%;
          display: block;
          margin: 0px auto 10px; } }
    .slides .why-listerine .mouth-graph .mouth-data iframe {
      width: 435px !important;
      height: 435px !important;
      display: block;
      margin: 20px auto 5px;
      border: none; }
      @media screen and (max-width: 680px) {
        .slides .why-listerine .mouth-graph .mouth-data iframe {
          width: 100% !important;
          height: 320px !important;
          margin-top: 0%; } }
  .slides .why-listerine .why-benefits {
    width: 49%;
    display: inline-block;
    text-align: center;
    margin: 2% 0 2% 0; }
    @media screen and (max-width: 680px) {
      .slides .why-listerine .why-benefits {
        vertical-align: top;
        padding: 0 6px 0 6px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .why-listerine .why-benefits {
        vertical-align: top; } }
    .slides .why-listerine .why-benefits h2 {
      font-size: 3em;
      display: inline-block;
      line-height: 1; }
      @media screen and (min-width: 1600px) {
        .slides .why-listerine .why-benefits h2 {
          font-size: 4em; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .why-listerine .why-benefits h2 {
          display: block;
          margin: 5px 0 5px 0;
          font-size: 2.5em; }
          .slides .why-listerine .why-benefits h2 br {
            display: none; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .slides .why-listerine .why-benefits h2 {
          vertical-align: top;
          font-size: 2.5em; } }
      @media screen and (max-width: 680px) {
        .slides .why-listerine .why-benefits h2 {
          display: block;
          margin: 5px 0 5px 0;
          font-size: 2em; }
          .slides .why-listerine .why-benefits h2 br {
            display: none; } }
    .slides .why-listerine .why-benefits h3 {
      font-size: 2em;
      display: inline-block;
      vertical-align: super;
      line-height: 1; }
      @media screen and (min-width: 1600px) {
        .slides .why-listerine .why-benefits h3 {
          font-size: 3em; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .why-listerine .why-benefits h3 {
          display: block;
          margin: 5px 0 5px 0;
          font-size: 1.8em; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .slides .why-listerine .why-benefits h3 {
          vertical-align: text-bottom;
          font-size: 1.6em; } }
      @media screen and (max-width: 680px) {
        .slides .why-listerine .why-benefits h3 {
          display: block;
          margin: 10px 0 5px 0;
          font-size: 1.3em; } }
    .slides .why-listerine .why-benefits img {
      vertical-align: sub;
      margin: 0 10px 0 10px;
      width: 25%; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .why-listerine .why-benefits img {
          width: 40%; } }
      @media screen and (max-width: 680px) {
        .slides .why-listerine .why-benefits img {
          width: 50%; } }
  @media screen and (max-width: 680px) {
    .slides .why-listerine .gum-benefits {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row; } }
  .slides .plaque-info .plaque-graph {
    justify-content: flex-end; }
    @media screen and (max-width: 680px) {
      .slides .plaque-info .plaque-graph {
        flex-direction: column-reverse !important; } }
    .slides .plaque-info .plaque-graph .graph-index {
      position: absolute;
      left: 0;
      background-color: #11647a;
      padding: 10px 25px 10px 25px; }
      .slides .plaque-info .plaque-graph .graph-index .selector-round {
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
        transition: all .2s ease-in;
        display: inline-block;
        border: 3px solid #fff;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        vertical-align: middle; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
          .slides .plaque-info .plaque-graph .graph-index .selector-round {
            width: 20px;
            height: 20px; } }
        @media screen and (max-width: 680px) {
          .slides .plaque-info .plaque-graph .graph-index .selector-round {
            width: 20px;
            height: 20px; } }
      .slides .plaque-info .plaque-graph .graph-index .selector-round:hover {
        cursor: pointer; }
      .slides .plaque-info .plaque-graph .graph-index .selector-round.active {
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
        transition: all .2s ease-in;
        background-color: #7fd1e8;
        border: 5px solid #fff;
        width: 35px;
        height: 35px; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
          .slides .plaque-info .plaque-graph .graph-index .selector-round.active {
            width: 25px;
            height: 25px; } }
        @media screen and (max-width: 680px) {
          .slides .plaque-info .plaque-graph .graph-index .selector-round.active {
            width: 25px;
            height: 25px; } }
      .slides .plaque-info .plaque-graph .graph-index h4 {
        font-size: 1.7em;
        display: inline-block;
        margin: 8% 0 8% 10px;
        vertical-align: middle; }
      .slides .plaque-info .plaque-graph .graph-index ul {
        list-style: none;
        padding: 0; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .slides .plaque-info .plaque-graph .graph-index {
          padding: 15px 25px 15px 25px; }
          .slides .plaque-info .plaque-graph .graph-index h4 {
            font-size: 1.3em; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .plaque-info .plaque-graph .graph-index {
          padding: 0px 14px 0px 5px;
          text-align: center; }
          .slides .plaque-info .plaque-graph .graph-index h4 {
            font-size: 1.1em; } }
      @media screen and (max-width: 680px) {
        .slides .plaque-info .plaque-graph .graph-index {
          position: initial;
          padding: 0px 20px 0 20px;
          width: 75%;
          text-align: center; }
          .slides .plaque-info .plaque-graph .graph-index h4 {
            font-size: 1.3em;
            margin: 13px 0 13px 10px; } }
      @media screen and (max-width: 320px) {
        .slides .plaque-info .plaque-graph .graph-index {
          position: initial; }
          .slides .plaque-info .plaque-graph .graph-index h4 {
            font-size: 1em; } }
    .slides .plaque-info .plaque-graph .plaque-chart iframe {
      width: 690px !important;
      height: 500px !important;
      display: block;
      margin: 20px auto 20px;
      border: none; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .plaque-info .plaque-graph .plaque-chart iframe {
          width: 480px !important;
          height: 245px !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .slides .plaque-info .plaque-graph .plaque-chart iframe {
          width: 458px !important;
          height: 250px !important; } }
      @media screen and (max-width: 680px) {
        .slides .plaque-info .plaque-graph .plaque-chart iframe {
          width: 100% !important;
          height: 185px !important;
          margin-top: 0%; } }
    .slides .plaque-info .plaque-graph .plaque-chart .big-use {
      display: block;
      margin: 12% auto 12%; }
      @media screen and (max-width: 680px) {
        .slides .plaque-info .plaque-graph .plaque-chart .big-use {
          display: none; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .plaque-info .plaque-graph .plaque-chart .big-use {
          margin: 5% auto 6%;
          width: 70%;
          float: right; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .slides .plaque-info .plaque-graph .plaque-chart .big-use {
          margin: 5% auto 6%;
          width: 70%;
          float: right; } }
    .slides .plaque-info .plaque-graph .plaque-chart .use-mobile {
      display: none; }
      @media screen and (max-width: 680px) {
        .slides .plaque-info .plaque-graph .plaque-chart .use-mobile {
          display: block;
          margin: 4% auto 6%;
          width: 60%; }
          .slides .plaque-info .plaque-graph .plaque-chart .use-mobile img {
            display: inline-block;
            width: 49%;
            vertical-align: middle; } }
  .slides .plaque-info .marine-line h2 {
    font-size: 2.2em;
    text-align: center;
    line-height: 1;
    margin: 3% 0 3% 0; }
    @media screen and (min-width: 1600px) {
      .slides .plaque-info .marine-line h2 {
        font-size: 3.2em; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .plaque-info .marine-line h2 {
        display: block;
        margin: 20px 0 20px 0;
        font-size: 2.5em; }
        .slides .plaque-info .marine-line h2 br {
          display: none; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .slides .plaque-info .marine-line h2 {
        vertical-align: top;
        font-size: 2.5em; } }
    @media screen and (max-width: 680px) {
      .slides .plaque-info .marine-line h2 {
        display: block;
        margin: 5px 0 5px 0;
        padding: 0 20px 0 20px;
        font-size: 1.7em; }
        .slides .plaque-info .marine-line h2 br {
          display: none; } }
  .slides .deep-effect .deep-title h2 {
    font-size: 3.4em;
    display: inline-block;
    margin: 0;
    width: 40%; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .deep-effect .deep-title h2 {
        width: 35%;
        font-size: 2.8em; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .slides .deep-effect .deep-title h2 {
        font-size: 2.8em;
        vertical-align: bottom; } }
    @media screen and (min-width: 1600px) {
      .slides .deep-effect .deep-title h2 {
        font-size: 4em; } }
    @media screen and (max-width: 680px) {
      .slides .deep-effect .deep-title h2 {
        display: block;
        margin: 19% 0 5px 0;
        font-size: 2.1em;
        text-align: center;
        width: 100%; }
        .slides .deep-effect .deep-title h2 br {
          display: none; } }
  .slides .deep-effect .deep-title h3 {
    font-size: 2.1em;
    display: inline-block;
    line-height: .8;
    margin: 0 0 10px 0;
    width: 59%;
    vertical-align: middle; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .deep-effect .deep-title h3 {
        width: 64%;
        font-size: 1.89em; } }
    @media screen and (min-width: 1600px) {
      .slides .deep-effect .deep-title h3 {
        font-size: 2.6em; } }
    @media screen and (max-width: 680px) {
      .slides .deep-effect .deep-title h3 {
        display: block;
        font-size: 1.8em;
        text-align: center;
        width: 100%; } }
  .slides .deep-effect .deep-summary h2 {
    font-size: 2.2em;
    line-height: .9;
    margin: 3% 0 1% 0; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .deep-effect .deep-summary h2 {
        margin: 1% 0 1% 0;
        font-size: 2em; }
        .slides .deep-effect .deep-summary h2 br {
          display: none; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .slides .deep-effect .deep-summary h2 {
        margin: 1% 0 1% 0;
        font-size: 1.8em; }
        .slides .deep-effect .deep-summary h2 br {
          display: none; } }
    @media screen and (min-width: 1600px) {
      .slides .deep-effect .deep-summary h2 {
        font-size: 2.7em; } }
    @media screen and (max-width: 680px) {
      .slides .deep-effect .deep-summary h2 {
        display: block;
        margin: 5px 0 5px 0;
        padding: 0 20px 0 20px;
        font-size: 1.5em;
        text-align: center; }
        .slides .deep-effect .deep-summary h2 br {
          display: none; } }
  .slides .deep-effect .marine-line img {
    width: 100%; }
  .slides .profesional-ing h2 {
    font-size: 3em;
    margin: 0% 0 0% 0;
    text-align: center;
    line-height: 1; }
    @media screen and (min-width: 1600px) {
      .slides .profesional-ing h2 {
        font-size: 4em; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .profesional-ing h2 {
        margin: 5px 0 5px 0;
        font-size: 2.5em; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .slides .profesional-ing h2 {
        font-size: 2.5em; } }
    @media screen and (max-width: 680px) {
      .slides .profesional-ing h2 {
        margin: 18% 0 5px 0;
        font-size: 2em; } }
  .slides .profesional-ing .ingredients-chart {
    width: 100%;
    margin: 2% auto 2%; }
  .slides .zero-alcohol .zero-part .zero-pack {
    width: 55%; }
    @media screen and (max-width: 680px) {
      .slides .zero-alcohol .zero-part .zero-pack {
        width: 40%;
        margin-top: 12%; } }
    @media screen and (min-width: 1600px) {
      .slides .zero-alcohol .zero-part .zero-pack {
        width: 50%; } }
  .slides .zero-alcohol .zero-part .zero-ingredients {
    width: 100%; }
    @media screen and (max-width: 680px) {
      .slides .zero-alcohol .zero-part .zero-ingredients {
        display: none; } }
  .slides .zero-alcohol .zero-part ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .slides .zero-alcohol .zero-part ul .zero-benefit {
      border-bottom: solid 3px #3f9a73; }
      .slides .zero-alcohol .zero-part ul .zero-benefit .zero-number {
        background-color: #00a77b;
        padding: 2% 3% 2% 3%;
        width: 11%; }
        @media screen and (max-width: 680px) {
          .slides .zero-alcohol .zero-part ul .zero-benefit .zero-number {
            width: 100%; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
          .slides .zero-alcohol .zero-part ul .zero-benefit .zero-number {
            padding: 3% 4% 2% 3%; } }
        @media screen and (min-width: 1600px) {
          .slides .zero-alcohol .zero-part ul .zero-benefit .zero-number {
            padding: 3% 3% 2% 3%; } }
      .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text {
        width: 100%;
        text-align: left; }
        @media screen and (max-width: 680px) {
          .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text {
            padding: 5% 0 5% 0; } }
        .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text .wrap-zero {
          width: 86%;
          margin: 0 auto; }
          @media screen and (min-width: 1600px) {
            .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text .wrap-zero {
              width: 90%; } }
        .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text h2 {
          font-size: 2em;
          margin: 1%; }
          @media screen and (max-width: 680px) {
            .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text h2 {
              font-size: 1.6em; } }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text h2 {
              font-size: 1.1em; } }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text h2 {
              font-size: 1.4em; } }
          @media screen and (min-width: 1600px) {
            .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text h2 {
              font-size: 2.5em; } }
        .slides .zero-alcohol .zero-part ul .zero-benefit .zero-text p {
          margin: 2px 0 2px; }
  .slides .zero-alcohol .mobile {
    display: none; }
    @media screen and (max-width: 680px) {
      .slides .zero-alcohol .mobile {
        display: block; } }
  .slides .profesional-products .product-line {
    width: 100%;
    text-align: left;
    margin: 0% 0 1% 0;
    justify-content: space-between; }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .slides .profesional-products .product-line {
        -webkit-flex-direction: column !important;
        -moz-flex-direction: column !important;
        -ms-flex-direction: column !important;
        -o-flex-direction: column !important;
        flex-direction: column !important; } }
    @media screen and (max-width: 680px) {
      .slides .profesional-products .product-line {
        margin: 15% 0 -5% 0; } }
    .slides .profesional-products .product-line .line-title {
      width: 24%;
      text-align: right;
      display: inline-block;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      padding: 10px; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .profesional-products .product-line .line-title {
          width: 100%;
          text-align: center;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          padding: 0; } }
      @media screen and (max-width: 680px) {
        .slides .profesional-products .product-line .line-title {
          width: 100%;
          text-align: center;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          padding: 0; } }
      .slides .profesional-products .product-line .line-title h2 {
        font-size: 2.5em;
        line-height: 1;
        letter-spacing: 1px; }
        @media screen and (max-width: 680px) {
          .slides .profesional-products .product-line .line-title h2 {
            font-size: 2.3em;
            margin: 5% 0 5% 0; } }
      .slides .profesional-products .product-line .line-title p {
        font-size: 1.2em;
        line-height: 1;
        margin-top: 0px;
        letter-spacing: 1px; }
    .slides .profesional-products .product-line .line-product {
      position: relative;
      vertical-align: middle;
      vertical-align: top;
      width: 24%; }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .slides .profesional-products .product-line .line-product {
          width: 59%; } }
      @media screen and (max-width: 680px) {
        .slides .profesional-products .product-line .line-product {
          width: 100%;
          margin: 2%; } }
      .slides .profesional-products .product-line .line-product img {
        padding: 7px;
        display: inline-block;
        vertical-align: middle; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
          .slides .profesional-products .product-line .line-product img {
            width: 50%; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
          .slides .profesional-products .product-line .line-product img {
            width: 75%; } }
        @media screen and (max-width: 680px) {
          .slides .profesional-products .product-line .line-product img {
            display: block;
            width: initial;
            margin: 0 auto; } }
      .slides .profesional-products .product-line .line-product .properties {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        padding: 0; }
        @media screen and (max-width: 680px) {
          .slides .profesional-products .product-line .line-product .properties {
            display: block;
            text-align: center; } }
        .slides .profesional-products .product-line .line-product .properties p {
          font-size: 1.1em;
          margin: 3px 0 3px 0; }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            .slides .profesional-products .product-line .line-product .properties p {
              font-size: 1.3em; } }
      .slides .profesional-products .product-line .line-product .benefit-absolute {
        position: absolute !important;
        top: 46%;
        left: 34%;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
        transition: all .2s ease-in; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
          .slides .profesional-products .product-line .line-product .benefit-absolute {
            top: 25%;
            left: 51%; } }
        @media screen and (min-width: 1100px) {
          .slides .profesional-products .product-line .line-product .benefit-absolute {
            opacity: 0;
            top: 35%;
            left: 40%; } }
        @media screen and (max-width: 680px) {
          .slides .profesional-products .product-line .line-product .benefit-absolute {
            display: block;
            position: initial !important;
            text-align: center; } }
        .slides .profesional-products .product-line .line-product .benefit-absolute p {
          font-size: 1em !important;
          margin: 2px 0 2px; }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            .slides .profesional-products .product-line .line-product .benefit-absolute p {
              font-size: .8em !important; } }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            .slides .profesional-products .product-line .line-product .benefit-absolute p {
              font-size: 1.2em !important; } }
          @media screen and (max-width: 680px) {
            .slides .profesional-products .product-line .line-product .benefit-absolute p {
              font-size: 1.2em !important;
              margin: 8px; } }
      .slides .profesional-products .product-line .line-product .benefit-absolute.appear {
        display: block; }
        @media screen and (min-width: 1100px) {
          .slides .profesional-products .product-line .line-product .benefit-absolute.appear {
            opacity: 1;
            -webkit-transform: translateY(30px);
            -moz-transform: translateY(30px);
            -o-transform: translateY(30px);
            -ms-transform: translateY(30px);
            transform: translateY(30px);
            -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -ms-transition: all .2s ease-in;
            transition: all .2s ease-in; } }
    .slides .profesional-products .product-line .line-product:hover {
      cursor: pointer; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

/*# sourceMappingURL=styles.css.map */
