body,html{
overflow-y:hidden;
overflow-x:hidden;
margin:0px;
//touch-action:none !important;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
overflow-y:auto;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
overflow-y:auto;
}
@media only screen and(max-width:680px){
overflow-y:auto;
}
}
body{
background-color:#169fbf;
-webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
transition: all .2s ease-in;  
}
#loader{
display: block;
position: absolute;
top: 0;
left: 0;
z-index: 100;
width: 100vw;
height: 100vh;
background-color:#169fbf;
.loader-content{
display:block;
margin:25% auto;
text-align:center;
width:50%;
@media only screen and (min-width: 1880px){
	margin:20% auto;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
	margin:40% auto;
}    
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
	margin:20% auto;
} 
@media only screen and (max-width: 680px){
	width:40%;
	margin:50% auto;
}
@media only screen and (max-width: 320px){
	width:50%;
	margin:30% auto;
}
.loader-img{
-webkit-animation:wobble .9s ease-in-out infinite;
-moz-animation:wobble .9s ease-in-out infinite;
animation:wobble .9s ease-in-out infinite;
-webkit-transform-origin:center;
-moz-transform-origin:center;
transform-origin:center;
-webkit-transition:padding .3s, center .3s;
-moz-transition:padding .3s, center .3s;
transition:padding .3s, center .3s;
}
@-webkit-keyframes wobble { 33%{ -webkit-transform:rotate(5deg); } 66%{-webkit-transform:rotate(-5deg); } }
@-moz-keyframes wobble { 33%{ -webkit-transform:rotate(5deg); } 66%{-webkit-transform:rotate(-5deg); } }
@keyframes wobble { 33%{ -webkit-transform:rotate(5deg); } 66%{-webkit-transform:rotate(-5deg); } }
}//loader-content
}//loader
#app{
	display:none;
}
sup{
font-size:.5em;
}
@font-face {
font-family: "GothamMedium";
src: url("fonts/gothammediumregular.eot"); /* IE9 Compat Modes */
src: url("fonts/gothammediumregular.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
//url("fonts/gothammediumregular.otf") format("opentype");/* Open Type Font */
//url("fonts/gothammediumregular.svg") format("svg"), /* Legacy iOS */
//url("fonts/gothammediumregular.ttf") format("truetype"), /* Safari, Android, iOS */
//url("fonts/gothammediumregular.woff") format("woff"), /* Modern Browsers */
//url("fonts/gothammediumregular.woff2") format("woff2"); /* Modern Browsers */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family:'Knockout-HTF69-FullLiteweight';
src: url('fonts/knockout-htf69-fullliteweight.eot');
src: url('fonts/knockout-htf69-fullliteweight.eot?#iefix') format('embedded-opentype');
// url('fonts/knockout-htf69-fullliteweight.woff2') format('woff2'),
// url('fonts/knockout-htf69-fullliteweight.woff') format('woff');
font-weight: 500;
font-style: normal;
font-stretch: normal;
}
@import 'helpers';
@import 'accion-boca';
/* The Overlay (background) */
.open{
position: absolute;
top: 2%;
left: 2%;    
z-index: 900;	
}
.open:hover{
cursor:pointer;
}
.overlay {
/* Height & width depends on how you want to reveal the overlay (see JS below) */    
height: 100%;
width: 0;
position: fixed; /* Stay in place */
z-index: 1000;
left: 0;
top: 0;
background-color: rgb(0,102,102); /* Black fallback color */
background-color: rgba(17,100,122, 1); /* Black w/opacity */
overflow-x: hidden; /* Disable horizontal scroll */
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-ms-transition: all .3s ease-in;
transition:all .2 ease-in;/* Position the content inside the overlay */
.overlay-content {
position: relative;
top: 7%;
width: 100%;
text-align: center;
margin-top: 30px;
@media only screen and(max-width:680px){
top: 10%;
}
}//overlay-content
/* The navigation links inside the overlay */
a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #818181;
display: block; /* Display block instead of inline */
transition: 0.3s; /* Transition effects on hover (color) */
img{
display: block;
width: 70%;
margin: 0px auto;
}
h4{
text-align: center;
margin: 5px 0 5px 0;
}
}
/* Position the close button (top right corner) */
.closebtn {
position: absolute;
//top: 20px;
right: 15px;
font-size: 3em;
color: #fff;
text-decoration: none;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
right: 10px;
}  
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
right: 10px;
}       
@media only screen and(max-width:680px){
top: 0px;
right: 10px;
font-size: 3.5em;
}
}//blosebtn
.closebtn:hover{
background-color:transparent !important;
}
}//overlay
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
background-color:#054c5f;
cursor:pointer !important;
}	
.slides{
position:relative;	
display:block;
margin:7% auto;
text-align:center;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
margin:7% auto;
}
.btn{
position:absolute;
top:75%;
z-index:200;
@media only screen and(max-width:780px){
top:58%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
bottom:16%;
}  
img{
width:45%;
@media only screen and(max-width:680px){
width: 55%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
width:37%;
}
@media only screen and(max-width:320px){
width: 65%;
}
}
}//btn
.btn:hover{
cursor:pointer !important;
}
.back{
left:-1%;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
left:initial;
right:88%;
}  
@media only screen and(max-width:680px){
left:initial;
right: 80%;
}
@media only screen and(max-width:320px){
right: 85%;
}
}
.forward{
right:-1%;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
right:initial;
left:88%;
} 
@media only screen and(max-width:680px){
right:initial;
left: 80%;
}
@media only screen and(max-width:320px){
left:  85%;
}
}
.intro{
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
margin-top: 17%;
} 
.side{
vertical-align:middle;
display:inline-block;
width:48%;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width:100%;
}    
@media only screen and(max-width:680px){
width:100%;
padding:0;
}
img{
width:100%;
margin-top:10px;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width:50%;
margin:10px auto 10px;
}   
@media only screen and(max-width:680px){
width:70%;
margin:10px auto 10px;
}
}
.logo{
width: 13%;
position: absolute;
top: -10%;
right: 4%;
@media only screen and(max-width:680px){
width: 29%;
position: absolute;
top: 0%;
}
}
h1{
font-size:6em;
text-align:left;
line-height:1;
margin:0px 0 5px 0;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
text-align:center;
}  
@media only screen and(max-width:680px){
font-size:3em;
text-align:center;
padding:10px;
}
@media only screen and(min-width:1880px){
font-size:8em;
}
}
h3{
font-size:2.1em;
@media only screen and(max-width:680px){
font-size:1.8em;
}
}
}//SIDE
}//INTRO  
.benefits{
.benefits-title{
justify-content:space-around;
}
.benefits-content{
justify-content:space-around;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
flex-wrap: wrap;
margin: 41px;
}
}
.title-part{
img{
margin: 0 auto;
display: block;
@media only screen and(max-width:680px){
margin: 3px auto 5px;
width:55%;
} 
}//img
h2{
font-size:5em;
text-align:center;
line-height:.9;

@media screen and (min-width: 1600px){
br{
display:none;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
font-size:4em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
font-size:4em;
br{
display:none;
}
}
@media only screen and(max-width:680px){
font-size:2.7em;
margin-bottom: 5px;
margin-top: 15px;
}  
}//h2
h3{
font-size:3.1em;
text-align:center;
line-height:.9;

@media screen and (min-width: 1600px){
font-size:4em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
font-size:2.5em;
margin-top:10px;
margin-bottom: 0;
padding:10px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
font-size:2.8em;
margin: 25px 0 25px 0;
}
@media only screen and(max-width:680px){
font-size:2em;
margin-bottom: 5px;
margin-top: 5px;
} 
}//h3
}//title-part	
}//benefits
.marine-line{ 
display: inline-block;
margin: 15px 0;
position: relative;
background: #11647a;
width: 100%;
padding: 15px !important;
box-sizing: border-box;
z-index: 100;
}
.footnote{
width:85%;
margin:5px auto;
h3{
text-align:center;
font-size:1.1em;
letter-spacing:2px;
@media only screen and(max-width:680px){
font-size:.8em;
}
}
@media screen and (min-width: 1600px){
width:90%;
}
}//footnote
.user-graph{
iframe{
width: 520px !important;
height: 520px !important;
display: block;
margin: 20px auto 20px;
border: none;

@media screen and(max-width:680px){
width: 100% !important;
height: 320px !important;
margin-top: 25%;
}
}
#canvas{
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
width: 420px !important;
height: 420px !important;
}
}
.marine-line{
h2{
font-size:2.2em;
text-align:center;
@media screen and (min-width: 1600px){
font-size:3.2em;
}
@media only screen and(max-width:680px){
font-size:1.6em;
margin-top: 10px;
padding: 0px 25px 0 25px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
font-size:2em;
margin:5px 0 5px 0;
}
@media only screen and(max-width:320px){
font-size:1.3em;
}
}
}
}//user-graph
.why-listerine{
@media screen and (max-width: 680px){
margin-top: 15%;
}
.why-title{
text-align:center;
h2{
font-size:3em;
margin:0;
@media screen and (max-width: 680px){
font-size:2.3em;
}

}
h3{
font-size:1.8em;
margin:5px 0 10px 0;
@media screen and (max-width: 680px){
font-size:1.3em;
}
}
@media screen and (max-width: 680px){
-webkit-flex-direction: column-reverse !important;
-moz-flex-direction: column-reverse !important;
-ms-flex-direction: column-reverse !important;
-o-flex-direction: column-reverse !important;
flex-direction: column-reverse !important;
}
}//why-title
.mouth-graph{	
margin-top:0%;
justify-content: space-around;
@media screen and (max-width: 680px){
flex-direction:column-reverse !important;
}
.mouth-img{
position:relative;
.mouth-btn{
position:absolute;
z-index:20;
color:#11647a;
border-radius:50px;
border: 3px solid #11647a;
width: 50px;
height: 50px;
@media screen and (max-width: 680px){
width:30px;
height:30px;
}
h2{
text-align: center;
margin: 15px 0 15px 0;
@media screen and (max-width: 680px){
margin: 7px 0 15px 0;
}
}
}
.mouth-btn:hover{
cursor:pointer;
}
.mouth-btn.active{
background-color:#11647a;
h2{
color:#fff;
}
}
.top-side{
top:0;
margin-left: auto;
margin-right: auto;
left:0;
right:0;
@media screen and (max-width: 680px){
//top:5%;
}
}
.right-side{
right:0;
top:40%;
@media screen and (max-width: 680px){
right:28%;
}
}
img{
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
width:95%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width:95%;
}
@media screen and (max-width: 680px){
width: 30%;
display: block;
margin: 0px auto 10px;
}
}
}//mouth-img
.mouth-data{
// img{
// 	 width: 90%;
//     margin: 0 auto 0;
//     display: block;
// }
iframe{
width: 435px !important;
height: 435px !important;
display: block;
margin: 20px auto 5px;
border: none;

@media screen and(max-width:680px){
width: 100% !important;
height: 320px !important;
margin-top: 0%;
}
}	
}//MOUTH-DATA
}//MOUTH-GRAPH
.why-benefits{
width:49%;
display:inline-block;
text-align:center;
margin: 2% 0 2% 0;
@media screen and (max-width: 680px){
vertical-align: top;
padding: 0 6px 0 6px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
vertical-align: top;
}
h2{
font-size:3em;
display:inline-block;
line-height: 1;
@media screen and (min-width: 1600px){
font-size:4em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
display:block;
margin:5px 0 5px 0;
font-size:2.5em;
br{
display:none;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
vertical-align: top;
font-size: 2.5em;
}
@media screen and (max-width: 680px){
display:block;
margin:5px 0 5px 0;
font-size: 2em;
br{
display:none;
}
}
}
h3{
font-size:2em;
display:inline-block;
vertical-align:super;
line-height: 1;
@media screen and (min-width: 1600px){
font-size:3em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
display:block;
margin:5px 0 5px 0;
font-size:1.8em;

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
vertical-align: text-bottom;
font-size: 1.6em;
}
@media screen and (max-width: 680px){
display:block;
margin:10px 0 5px 0;
font-size:1.3em;

}
}
img{
vertical-align:sub;
margin:0 10px 0 10px;
width: 25%;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width: 40%;
}
@media screen and (max-width: 680px){
width:50%;
}
}
}
.gum-benefits{
@media screen and (max-width: 680px){
-webkit-flex-direction: row;
-moz-flex-direction: row;
-ms-flex-direction: row;
-o-flex-direction: row;
flex-direction: row;
}
}//GUM-BENEFITS
}//WHY-LISTERINE
.plaque-info{
.plaque-graph{
justify-content: flex-end;
@media screen and(max-width:680px){
flex-direction: column-reverse !important;
}
.graph-index{
position: absolute;
left: 0;
background-color:#11647a;
padding: 10px 25px 10px 25px;
.selector-round{
-webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
transition: all .2s ease-in;  
display:inline-block;
border:3px solid #fff;
border-radius:30px;
width: 30px;
height: 30px;
vertical-align: middle;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width:20px;
height:20px;
} 
@media screen and(max-width:680px){
width:20px;
height:20px;
}
}
.selector-round:hover{
cursor:pointer;
}
.selector-round.active{
-webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
transition: all .2s ease-in;
background-color:#7fd1e8;
border:5px solid #fff;
width: 35px;
height: 35px;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width:25px;
height:25px;
} 
@media screen and(max-width:680px){
width:25px;
height:25px;
}

}
h4{
font-size:1.7em;
display: inline-block;
margin: 8% 0 8% 10px;
vertical-align: middle;
}
ul{
list-style:none;
padding:0;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
padding: 15px 25px 15px 25px;
h4{
font-size:1.3em;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
padding: 0px 14px 0px 5px;
text-align: center;
h4{
font-size:1.1em;
}
}
@media screen and(max-width:680px){
position:initial;
padding: 0px 20px 0 20px;
width: 75%;
text-align: center;
h4{
font-size:1.3em;
margin: 13px 0 13px 10px;
}
}
@media screen and(max-width:320px){
position:initial;
h4{
font-size:1em;
}
}
}//graph-index	
.plaque-chart{
iframe{
// width: 580px !important;
// height: 370px !important;
width: 690px !important;
height: 500px !important;
display: block;
margin: 20px auto 20px;
border: none;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width: 480px !important;
height: 245px !important;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
width: 458px !important;
height: 250px !important;
}
@media screen and(max-width:680px){
width: 100% !important;
height: 185px !important;
margin-top: 0%;
}
}
.big-use{
display:block;
margin:12% auto 12%;
@media screen and(max-width:680px){
display:none;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
margin: 5% auto 6%;
width:70%;
float:right;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
margin: 5% auto 6%;
width:70%;
float:right;
}
}//big-use
.use-mobile{
display:none;
@media screen and(max-width:680px){
display: block;
margin: 4% auto 6%;
width: 60%;
img{
display:inline-block;
width:49%;
vertical-align: middle;
}
}
}
}//Plaque-Chart
}	
.marine-line{
h2{
font-size:2.2em;
text-align:center;
line-height: 1;
margin: 3% 0 3% 0;
@media screen and (min-width: 1600px){
font-size:3.2em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
display:block;
margin: 20px 0 20px 0;
font-size:2.5em;
br{
display:none;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
vertical-align: top;
font-size: 2.5em;
}
@media screen and (max-width: 680px){
display:block;
margin:5px 0 5px 0;
padding:0 20px 0 20px;
font-size: 1.7em;
br{
display:none;
}
}
}//h2
}//marine-line
}//PLAQUE-INFO
.deep-effect{
.deep-title{
h2{
font-size: 3.4em;
display: inline-block;
margin: 0;
width: 40%;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width: 35%;
font-size:2.8em;  
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
font-size:2.8em; 
vertical-align: bottom; 
}
@media screen and (min-width: 1600px){
font-size:4em;
}
@media screen and (max-width: 680px){
display: block;
margin: 19% 0 5px 0;
font-size: 2.1em;
text-align: center;
width: 100%;
br{
display:none;
}
}
} 
h3{
font-size: 2.1em;
display: inline-block;
line-height:.8;
margin: 0 0 10px 0;
width: 59%;
vertical-align: middle;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width:64%;
font-size: 1.89em;
}
@media screen and (min-width: 1600px){
font-size:2.6em;
}
@media screen and (max-width: 680px){
display: block;
font-size: 1.8em;
text-align: center;
width: 100%;
}
}
}//deep-title
.deep-summary{
h2{
font-size:2.2em;
line-height:.9;
margin:3% 0 1% 0;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
margin:1% 0 1% 0;
font-size:2em;
br{
display: none;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
margin:1% 0 1% 0;
font-size:1.8em;
br{
display: none;
}
}
@media screen and (min-width: 1600px){
font-size:2.7em;
}
@media screen and (max-width: 680px){
display: block;
margin: 5px 0 5px 0;
padding: 0 20px 0 20px;
font-size: 1.5em;
text-align: center;
br{
display:none;
}
}
}
}//deep-summary
.marine-line{
img{
width:100%;
}
}
}//deep-effect
.profesional-ing{
h2{
font-size:3em;
margin:0% 0 0% 0;
text-align:center;
line-height: 1;
@media screen and (min-width: 1600px){
font-size:4em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
margin:5px 0 5px 0;
font-size:2.5em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
font-size: 2.5em;
}
@media screen and (max-width: 680px){
margin: 18% 0 5px 0;
font-size: 2em;
}
}
.ingredients-chart{
width:100%;
margin:2% auto 2%;
}
}//PROFESIONAL-ING
.zero-alcohol{
.zero-part{
.zero-pack{
width:55%;
@media screen and (max-width: 680px){
width: 40%;
margin-top: 12%;
}
@media screen and (min-width: 1600px){
width:50%;
}
}
.zero-ingredients{
width:100%;
@media screen and (max-width: 680px){
display:none;
}
}
ul{
padding:0;
margin: 0;
list-style:none;
.zero-benefit{
border-bottom:solid 3px #3f9a73;	
.zero-number{
background-color:#00a77b;
padding: 2% 3% 2% 3%;
width: 11%;
@media screen and (max-width: 680px){
width: 100%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
padding: 3% 4% 2% 3%;
}
@media screen and (min-width: 1600px){
padding: 3% 3% 2% 3%;
}
}//Zero-NUMBER
.zero-text{
width: 100%;
@media screen and (max-width: 680px){
padding: 5% 0 5% 0;
}  
.wrap-zero{
width:86%;
margin: 0 auto;
@media screen and (min-width: 1600px){
width:90%;
}
}
text-align:left;
h2{
font-size:2em;
margin:1%;
@media screen and (max-width: 680px){
font-size:1.6em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
font-size:1.1em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
font-size:1.4em;
}
@media screen and (min-width: 1600px){
font-size:2.5em;
}
}
p{
margin: 2px 0 2px;
}
}//Zero-text
}//ZERO-BENEFIT
}//ul
}//ZERO-PART
.mobile{
display:none;
@media screen and (max-width: 680px){
display:block;
}
}
}//ZERO-ALCOHOL
.profesional-products{
.product-line{
width:100%;
text-align:left;
margin:0% 0 1% 0;
justify-content: space-between;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
-webkit-flex-direction: column !important;
-moz-flex-direction: column !important;
-ms-flex-direction: column !important;
-o-flex-direction: column !important;
flex-direction: column !important;
}
@media screen and (max-width: 680px){
margin: 15% 0 -5% 0;
}
.line-title{
width: 24%;	
text-align:right;	
display:inline-block;
border-top-right-radius: 15px;
border-bottom-right-radius:15px;
padding:10px;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width: 100%;	
text-align:center;	
border-top-right-radius: 0px;
border-bottom-right-radius:0px;
padding:0;
}
@media screen and (max-width: 680px){
width: 100%;	
text-align:center;	
border-top-right-radius: 0px;
border-bottom-right-radius:0px;
padding:0;
}
h2{
font-size:2.5em;
line-height:1;
letter-spacing: 1px;
@media screen and (max-width: 680px){
font-size:2.3em;
margin:5% 0 5% 0;
}
}
p{
font-size:1.2em;
line-height:1;
margin-top:0px;
letter-spacing: 1px;
}
}//line-title
.line-product{
position:relative;	
vertical-align:middle;
vertical-align: top;
width:24%;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width:59%;
}
@media screen and (max-width: 680px){
width: 100%;
margin: 2%;
} 
img{
padding:7px;
display:inline-block;
vertical-align:middle;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
width:50%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
width:75%;
}
@media screen and (max-width: 680px){
  display:block;
  width: initial;
  margin: 0 auto;
}
}
.properties{
list-style:none;
display:inline-block;
vertical-align:middle;
padding:0;
@media screen and (max-width: 680px){
display:block;
text-align:center;
}
p{
  font-size:1.1em;
  margin:3px 0 3px 0;
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
  	font-size:1.3em;
}	
}
}//properties
.benefit-absolute{
position: absolute !important;
top: 46%;
left: 34%;
 -webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
transition: all .2s ease-in;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
top: 25%;
left: 51%;
}
@media screen and (min-width: 1100px){
opacity:0;	
top: 35%;
left: 40%;
}	
@media screen and (max-width: 680px){
display:block;
position:initial !important;
text-align:center;
}
p{
font-size:1em !important;
margin:2px 0 2px;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
font-size:.8em !important;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
font-size:1.2em !important;
}
@media screen and (max-width: 680px){
font-size: 1.2em !important;
margin: 8px;
}
}
}//benefit absolute
.benefit-absolute.appear{
display:block;
@media screen and (min-width: 1100px){
 opacity:1;
-webkit-transform:translateY(30px);
-moz-transform: translateY(30px);
-o-transform: translateY(30px);
-ms-transform: translateY(30px);
transform: translateY(30px);
-webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
transition: all .2s ease-in;
}
}
}//line-product
.line-product:hover{
cursor:pointer;
}
}//product-line
}//professional-proudcts
}//SLIDES
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
.overlay a {
font-size: 20px;
}
.overlay .closebtn {
font-size: 40px;
top: 15px;
right: 35px;
}
}
