<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Proyecto Beyond Listerine</title>
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="loader">
  <div class="loader-content">
  <img src="img/botella-loader.png" alt="" class='loader-img'>
  <h1 class="knockout-font white-text uppercase">Cargando</h1>
  </div>
  </div>
  <div id="app" class='animated fadeIn'>
    <div id="myNav" class="overlay">
      <!-- Boton para cerrar navegacion -->
      <a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>
      <!-- Menu -->
      <div class="overlay-content">
        <a v-for="(thumbnail, index) in thumbnails" @click="jumpSlide(thumbnail, index)" class='default' :class="'menu' + index">
          <img :src="'img/' + thumbnail.thumbnail" alt="">
          <h4 class="knockout-font white-text">{{thumbnail.id}}</h4>
        </a>
      </div>
    </div>
    <!-- Boton para abrir navegacion -->
    <span class='open' @click="openNav()"><img src="img/menu-icon.png" alt=""></span>
    <div class="slides">
      <div class="slide intro" v-if='id==1' slide-id=1>
        <div class="side animated fadeInLeft">
          <img src="img/bottle-presentation.png" alt="">
        </div>
        <div class="side place-left">
          <img src="img/listerine-logo.png" alt="" class="logo">
          <h1 class="knockout-font white-text uppercase">Bienvenido al <br> <span class="light-blue">proyecto Beyond</span></h1>
          <div class="btn-grayish" @click="forwardSlide()"><h3 class="knockout-font white-text uppercase">Comenzar</h3></div>
        </div>
      </div> <!-- SLIDE 1  -->
      <div class="slide animated fadeIn" v-if='id==2' slide-id=2>
        <div class="interactive">
          <div class="shadow"></div>
          <div class="wrapper-app">
            <div class="wrapper-text">
              <div class="accion knockout-font uppercase">
                ACCIÓN DE LA RUTINA<br/>
                DEL ABC EN LA BOCA
                <div class="play_button" @click="beginShow()">
                  <div class="arrow-right"></div>
                </div>
              </div>
              <h2 class="white knockout-font uppercase"><span class="white-text">Las bacterias</span><br/>
                <span style="color:#80d0e7;">No están solamente<br/>
                  En los dientes...</span><br/>
                  <span class="white-text">Están en toda la boca</span></h2>
                </div>
                <div class="wrapper-img">
                  <img src="img/boca-a.png" alt="" class="boca-imagen animated bounce">
                </div>
              </div> <!-- /Wrapper A  -->
              <ul class="line-products">
                <li class="cepillo-line lines" data-image="boca-b" data-section="seda" v-on:click.prevent="getTip($event)">
                  <img src="img/cepillo.png" alt="El cepillo" class="cepillo">
                  <div class="tooltip knockout-font uppercase">El cepillo</div>
                  <div class="instrucciones">
                    <div class="ribbon knockout-font uppercase" id="cepillo" data-section="seda" data-image="boca-b">
                      Acción del cepillo<br/> en la boca
                    </div>
                    <img src="img/step-1.png" alt="">
                  </div>
                </li>
                <li data-image="boca-b"><img src="img/plus.png" alt="+" class="plus">
                </li>
                <li class="seda-line lines" data-image="boca-c" v-on:click.prevent="getTip($event)">
                  <img src="img/seda.png" alt="Seda Dental" class="seda">
                  <div class="tooltip knockout-font">El hilo dental</div>
                  <div class="instrucciones">
                    <div class="ribbon knockout-font uppercase" id="hilo" data-section="enjuage" data-image="boca-c">
                      Acción del hilo dental<br/> en la boca
                    </div>
                    <img src="img/step-2.png" alt="">
                  </div>
                </li>
                <li data-image="boca-c"><img src="img/plus.png" alt="+" class="plus"></li>

                <li class="enjuage-line lines" data-image="boca-d" v-on:click.prevent="getTip($event)">
                  <img src="img/botella.png" alt="Botella LISTERINE®" class="botella">
                  <div class="tooltip knockout-font">LISTERINE®</div>
                  <div class="instrucciones">
                    <div class="ribbon knockout-font uppercase" id="hilo" data-section="finish" data-image="finish">
                      Acción de <span class="black-text">LISTERINE®</span><br/> en la boca
                    </div>
                    <img src="img/step-3.png" alt="">
                  </div>
                </li>
                <li class="resultado" data-image="finish" v-on:click.prevent="getTip($event)"><img src="img/simplemente.png" alt="Simplemente indispensable" class="plus"></li>
              </ul>
              <p class="referencias knockout-font">*Collins LMC & Dawes C. J Dent Res. 66(8) : 1300-1302, 1987.</p>
            </div>
          </div> <!-- /SLIDE 2 -->
          <div class="slide benefits animated fadeIn" v-if='id==3' slide-id=3>
            <div class="wrapper-app">
             <div class="flex benefits-title">
              <div class="title-part">
               <h2 class="knockout-font white-text">LISTERINE<sup>® </sup> <br><span class="big-text marine-text uppercase">Reduce</span></h2>
             </div>
             <div class="title-part">
              <img class='animated bounceInDown' src="img/beyond-icon-a.png" alt="">
            </div>
            <div class="title-part">
              <h3 class="knockout-font uppercase acid-blue">Placa bacteriana <span class="marine-text big-text"><br> que solo uso </span><br><span class="white-text little-text">del cepillo y el hilo dental<sup>1</sup></span></h3>
            </div>
          </div>
        </div>
        <div class="marine-line">
          <div class="wrapper-app">
            <div class="benefits-content flex">
              <div class="title-part"><h3 class="knockout-font acid-blue uppercase remove-breaks">El uso de  <br><span class="white-text">Listerine<sup>® </sup></span><br>junto con el</h3></div>
              <div class="title-part"><h3 class="knockout-font white-text uppercase  remove-breaks"> Cepillado <br> y el uso de <br><span class="little-text">crema de dientes </span><br><span class="acid-blue little-text">anticaries, promueve </span><br>encías hasta</h3></div>
              <div class="title-part">
                <img class='animated bounceInDown' src="img/beyond-icon-b.png" alt="">
              </div>
              <div class="title-part">
                <h3 class="knockout-font acid-blue uppercase ">Saludables <br> <span class="white-text">en 2 semanas<sup>2</sup></span></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="footnote">
          <h3 class="knockout-font white-text">1. SHARMA NC, ARAUJO MW, WU MM, QAQISH J,  CHARLES CH. SUPERIORITY OF AN ESSENTIAL OIL MOUTHRINSE WHEN COMPARED WITH A 0.05% CETYLPYRIDINIUM CHLORIDE CONTAINING MOUTHRINSE: A SIX-MONTH STUDY. INT DENT J. 2010 JUN; 60(3): 175-80 </h3>
        </div>
      </div> <!-- /SLIDE 3 -->
      <div class="slide user-graph animated fadeIn" v-if='id==4' slide-id=4>
        <div class="wrapper-app">
         <iframe  src="video/grafica_09/grafica_09_v1.html" frameborder="0" scrolling="no" id="profesional-graph" class="animated fadeIn"></iframe>
       </div>
       <div class="marine-line">
        <div class="wrapper-app">
         <h2 class="knockout-font white-text">DESPUÉS DE CEPILLARSE 2 VECES AL DÍA NO SE ENCONTRÓ DIFERENCIA SIGNIFICATIVA EN LA <span class="light-blue">REDUCCIÓN DE PLACA</span></h2>
       </div>
     </div>
     <div class="footnote">
       <h3 class="knockout-font white-text">* SHARMA NC; CHARLES CH; LYNCH MC; QAQISH J; MCGUIRE JA; GALUSTIANS JG; KUMAR LD. ADJUNCTIVE BENEFIT OF A ESSENTIAL OIL-CONTAINING MOUTHRINSE IN REDUCING  PLAGUE AND GINGIVITIS IN PATIENTS WHO  BRUSH AND FLOSS REGULARY:  A SIX-MONTH STUDY. J AM DENT ASSOC; 135(4): 496-504. 2004.</h3>
     </div>
   </div> <!-- /SLIDE-4 -->
   <div class="slide user-graph animated fadeIn" v-if='id==5' slide-id=5>
    <div class="wrapper-app">
     <iframe  src="video/grafica_10/grafica_10_v1.html" frameborder="0" scrolling="no" id="profesional-graph" class="animated fadeIn"></iframe>
   </div>
   <div class="marine-line">
    <div class="wrapper-app">
     <h2 class="knockout-font white-text long-text">DESPUÉS DE CEPILLARSE 2 VECES AL DÍA Y UTILIZAR EL HILO DENTAL 1 VEZ AL DÍA SE ENCONTRÓ UNA REDUCCIÓN DE <span class="light-blue">9.3 % DE PLACA Y 11.3% DE GINGIVITIS  REDUCCIÓN DE PLACA</span></h2>
   </div>
 </div>
 <div class="footnote">
   <h3 class="knockout-font white-text">* SHARMA NC; CHARLES CH; LYNCH MC; QAQISH J; MCGUIRE JA; GALUSTIANS JG; KUMAR LD. ADJUNCTIVE BENEFIT OF A ESSENTIAL OIL-CONTAINING MOUTHRINSE IN REDUCING  PLAGUE AND GINGIVITIS IN PATIENTS WHO  BRUSH AND FLOSS REGULARY:  A SIX-MONTH STUDY. J AM DENT ASSOC; 135(4): 496-504. 2004.</h3>
 </div>
</div> <!-- /SLIDE 5 -->
<div class="slide user-graph animated fadeIn" v-if='id==6' slide-id=6>
  <div class="wrapper-app">
   <iframe  src="video/grafica_11/grafica_11_v1.html" frameborder="0" scrolling="no" id="profesional-graph" class="animated fadeIn"></iframe>
 </div>
 <div class="marine-line">
  <div class="wrapper-app">
   <h2 class="knockout-font white-text">LISTERINE®  <span class="light-blue">REDUCE 52% MÁS DE PLACA BACTERIANA</span> Y AYUDA A MANTENER LAS ENCÍAS MÁS SALUDABLES COMPARADO CON EL <span class="light-blue">CEPILLADO DENTAL</span></h2>
 </div>
</div>
<div class="footnote">
 <h3 class="knockout-font white-text">* SHARMA NC; CHARLES CH; LYNCH MC; QAQISH J; MCGUIRE JA; GALUSTIANS JG; KUMAR LD. ADJUNCTIVE BENEFIT OF A ESSENTIAL OIL-CONTAINING MOUTHRINSE IN REDUCING  PLAGUE AND GINGIVITIS IN PATIENTS WHO  BRUSH AND FLOSS REGULARY:  A SIX-MONTH STUDY. J AM DENT ASSOC; 135(4): 496-504. 2004.</h3>
</div>
</div> <!-- /SLIDE 6 -->
<div class="slide why-listerine animated fadeIn" v-if='id==7' slide-id=7>
  <div class="wrapper-app">
   <div class="why-title">
    <h2 class="knockout-font white-text uppercase">¿Por qué usar listerine<sup>®</sup>?</h2>
    <h3 class="knockout-font marine-text uppercase">promoviendo la salud transformando encías <br> inflamadas en saludables</h3>
  </div>
  <div class="flex mouth-graph">
   <div class="mouth-img animated bounce">
     <div v-on:click.prevent="switchData($event)" graph-id=1 class="mouth-btn top-side active"><h2 class="knockout-font marine-text">11</h2></div>
     <div v-on:click.prevent="switchData($event)" graph-id=2 class="mouth-btn right-side" graph-id=1><h2 class="knockout-font marine-text">27</h2></div>
     <img  src="img/boca-d.png" alt="Examinación de Boca">
   </div>
   <div class="mouth-data">
    <iframe  v-if="mouthData==1" src="video/grafica_13/grafica_13_v1.html" frameborder="0" scrolling="no" id="profesional-graph" class="animated fadeIn"></iframe>
    <iframe  v-if="mouthData==2" src="video/grafica_13/grafica_27_v1.html" frameborder="0" scrolling="no" id="profesional-graph" class="animated fadeIn"></iframe> 
  </div>
</div>
</div>
<div class="marine-line">
  <div class="flex wrapper-app gum-benefits">
    <div class="why-benefits">
      <h2 class="knockout-font light-blue uppercase">Encías <br><span class="white-text">hasta</span></h2>
      <img src="img/beyond-icon-c.png" alt="" class='animated bounce'>
      <h3 class="knockout-font light-blue uppercase">mas saludables <br><span class="white-text">en 2 semanas<sup>2</sup></span></h3>
    </div>
    <div class="white-line"></div> 
    <div class="why-benefits">
      <h2 class="knockout-font light-blue uppercase">Encías <br><span class="white-text">hasta</span></h2>
      <img src="img/beyond-icon-d.png" alt="" class='animated bounce'>
      <h3 class="knockout-font light-blue uppercase">más saludables <br><span class="white-text">en 4 semanas</span></h3>
    </div>
  </div>
</div>
</div> <!-- /SLIDE 7 -->
<div class="slide benefits animated fadeIn" v-if='id==8' slide-id=8>
  <div class="wrapper-app">
   <div class="flex benefits-title">
    <div class="title-part">
     <h2 class="knockout-font white-text">LISTERINE<sup>® </sup> <br><span class="marine-text uppercase"> es</span></h2>
   </div>
   <div class="title-part">
    <img class='animated bounceInDown' src="img/beyond-icon-e.png" alt="">
  </div>
  <div class="title-part">
    <h3 class="knockout-font uppercase acid-blue">Más efectivo que <span class="marine-text"><br> cpc 0.05%<sup>1</sup> reduciendo</span><br><span class="white-text little-text">La placa y manteniendo <br> las encías saludables</h3>
  </div>
</div>
</div>
<div class="marine-line">
  <div class="wrapper-app">
    <div class="benefits-content flex adjust-show">
      <div class="title-part"><h3 class="knockout-font acid-blue uppercase remove-breaks">El uso de  <br><span class="white-text big-text">Listerine<sup>® </sup></span><br><span class="acid-blue">mostró mayor</span></h3></div>
      <div class="title-part"><h3 class="knockout-font white-text uppercase  remove-breaks">Reducción de los gérmenes <br><span class="acid-blue">que causan la placa y el mal aliento</span><br> cuando se compara con cpc 0.07%<sup>2</sup></h3></div>
    </div>
  </div>
</div>
<div class="footnote">
  <h3 class="knockout-font white-text">1. SHARMA NC, ARAUJO MW, WU MM, QAQISH J,  CHARLES CH. SUPERIORITY OF AN ESSENTIAL OIL MOUTHRINSE WHEN COMPARED WITH A 0.05% CETYLPYRIDINIUM CHLORIDE CONTAINING MOUTHRINSE: A SIX-MONTH STUDY. INT DENT J. 2010 JUN; 60(3): 175-80. </h3>
  <h3 class="knockout-font white-text uppercase">2. bader hi. floss or die: implications for dental professionals. dent today. 1998 jul; 17(7): 76-8, 80-2.</h3>
</div>
</div> <!-- /SLIDE 8 -->
<div class="slide why-listerine plaque-info animated fadeIn" v-if='id==9' slide-id=9>
  <div class="wrapper-app">
   <div class="flex plaque-graph">
    <div class="graph-index">
     <ul>
       <li class="chart-adv"><div v-on:click.prevent="switchData($event)" graph-id=1 class="selector-round graph-a active"></div><h4 class="knockout-font white-text uppercase">Reducción de placa</h4></li>
       <li class="chart-adv"><div v-on:click.prevent="switchData($event)" graph-id=2 class="selector-round graph-b"></div><h4 class="knockout-font white-text uppercase">Mantenimiento de encías</h4></li>
       <li class="chart-adv"><div v-on:click.prevent="switchData($event)" graph-id=3 class="selector-round graph-c"></div><h4 class="knockout-font white-text uppercase">Modo de uso</h4></li>
     </ul>
   </div>
   <div class="plaque-chart">
     <iframe  v-if="plaqueData==1" src="video/grafica_15_v2/grafica_15_v2.html" frameborder="0" scrolling="no" id="profesional-graph" class="animated fadeIn"></iframe>
     <iframe  v-if="plaqueData==2" src="video/grafica_16/grafica_16_v1.html" frameborder="0" scrolling="no" id="profesional-graph" class="animated fadeIn"></iframe>
     <img src="img/listerine-use.png" alt="" v-show="plaqueData==3" class="big-use animated fadeInRight">
     <div  v-show="plaqueData==3" class="use-mobile animated fadeIn">
       <img src="img/listerine-use-a.png" alt="">
       <img src="img/listerine-use-b.png" alt="">
       <img src="img/listerine-use-c.png" alt="">
       <img src="img/listerine-use-d.png" alt="">
     </div>
   </div> 
 </div>
</div>
<div class="marine-line">
  <div class="wrapper-app">
    <h2 class="knockout-font white-text uppercase">LISTERINE® Es 2 veces más efectivo <br> <span class="light-blue">QUE CPC*, REDUCIENDO LA PLACA Y</span><br> MANTENIENDO LAS ENCÍAS SALUDABLES</h2>
  </div>
</div>
<div class="footnote">
  <h3 class="knockout-font white-text">SHARMA NC, ARAUJO MW, WU MM, QAQISH J,  CHARLES CH. SUPERIORITY OF AN ESSENTIAL OIL MOUTHRINSE WHEN COMPARED WITH A 0.05% CETYLPYRIDINIUM CHLORIDE CONTAINING MOUTHRINSE: A SIX-MONTH STUDY. INT DENT J. 2010 JUN; 60(3): 175-80.</h3>
</div>
</div> <!-- /SLIDE 9 -->
<div class="slide deep-effect animated fadeIn" v-if='id==10' slide-id=10>
  <div class="wrapper-app deep-title">
    <h2 class="knockout-font white-text uppercase">Penetración profunda</h2>
    <h3 class="knockout-font white-text uppercase">No existe limpieza más profunda que la de Listerine<sup>®5</sup><br><span class="marine-text little-text">*Cuando es comparado con el cepillado y la seda dental</span></h3>
  </div>
  <div class="marine-line">
    <img src="img/deep-graphic.png" alt="" class="animated fadeIn">
  </div>
  <div class="wrapper-app deep-summary">
   <h2 class="knockout-font white-text uppercase">LAS IMÁGENES DE ARRIBA MUESTRAN QUE LISTERINE<sup>®</sup> ZERO<sup>tm</sup>  PENETRA MÁS PROFUNDAMENTE <br> <span class="acid-text">EL BIOFILM<sup>6</sup>  QUE LOS DEMÁS PRODUCTOS  ANALIZADOS, REDUCIENDO  HASTA EL 99%<sup>7</sup> DE LOS MICROORGANISMOS QUE CAUSAN LA PLACA BACTERIANA Y MAL ALIENTO.</span></h2>
   <p class="knockout-font white-text disclaimer uppercase">*T.FOURE ET AL., 2013 #2264 IADR. 
   </p>
 </div>
</div> <!-- /SLIDE 10 -->
<div class="slide why-listerine plaque-info" v-if='id==11' slide-id=11>
  <div class="wrapper-app">
   <div class="flex plaque-graph">
    <div class="graph-index">
     <ul>
       <li class="chart-adv"><div v-on:click.prevent="switchData($event)" graph-id=1 class="evo-round selector-round graph-a active"></div><h4 class="knockout-font white-text uppercase">Reducción de placa</h4></li>
       <li class="chart-adv"><div v-on:click.prevent="switchData($event)" graph-id=2 class="evo-round selector-round graph-b"></div><h4 class="knockout-font white-text uppercase">Mantenimiento de encías</h4></li>
     </ul>
   </div>
   <div class="plaque-chart">
     <iframe  v-if="evoData==1" src="video/grafica_17/grafica_17_v1.html" frameborder="0" scrolling="no" id="profesional-graph" class="animated fadeIn"></iframe>
     <iframe  v-if="evoData==2" src="video/grafica_18/grafica_18_v1.html" frameborder="0" scrolling="no" id="profesional-graph" class="animated fadeIn"></iframe>
   </div> 
 </div>
</div>
<div class="marine-line">
  <div class="wrapper-app">
    <h2 class="knockout-font white-text uppercase">Después de 6 meses no hay diferencia significativa <br> <span class="light-blue">entre aceites esenciales y clorhexidina</span></h2>
  </div>
</div>
<div class="footnote">
  <h3 class="knockout-font white-text">CHARLES CH, MOSTLER KM, BARTELS LL, MANKODI SM. COMPARATIVE ANTIPLAQUE AND ANTIGINGIVITIS EFFECTIVENESS OF A CLORHEXIDINE AND ESSENTIAL OIL MOUTHRINSE : A SIX-MONTH CLINICAL TRIAL. J CLIN PERIODONTAL. 2004 OCT; 31(10): 878-84</h3>
</div>
</div> <!-- /SLIDE 11 -->
<div class="slide profesional-ing animated fadeIn" v-if='id==12' slide-id=12>
  <div class="wrapper-app">
    <h2 class="knockout-font marine-text uppercase">Ingredientes activos de enjuagues disponibles en Colombia</h2>
    <img src="img/ingredients-graph.png" alt="" class="animated fadeIn ingredients-chart">
  </div>
  <div class="marine-bg">
    <div class="footnote">
     <h3 class="knockout-font white-text uppercase">1. Stoeken je, paraskevas s, van der weijden ga. the long-term effect of a mouthrinse containing essential oils on dental plaque and gingivitis: a systematic review. j periodonto. 2007 jul; 78(7):1218-28</h3>
     <h3 class="knockout-font white-text uppercase">2. MINAH GE, DEPAOLA LG, OVERHOLSER CD, MEILLER TF, NIEHAUS C, LAMM RA, ROSS NM DILLS SS. EFFECTS OF 6 MONTHS USE OF AN ANTISEPTIC MOUTHRINSE ON SUPRAGINGIVAL DENTAL PLAQUE MICROFLORA. J CLIN PERIODONTAL. 1989 JUL; 16(6): 347-52</h3>
   </div>
 </div>
</div> <!-- /SLIDE 12 -->
<div class="slide zero-alcohol flex animated fadeIn" v-if="id==13" slide-id=13>
 <div class="zero-part">
   <img src="img/listerine-anticaries.png" alt="" class='zero-pack animated bounceInDown'>
 </div>
 <div class="zero-part">
  <img src="img/full-benefits.png" alt="" class='zero-ingredients'>
</div>
<div class="zero-part mobile">
 <ul>
   <li>
     <div class="zero-benefit flex">
       <div class="zero-number">
         <img src="img/shield-1.png" alt="">
       </div>
       <div class="zero-text">
        <div class="wrap-zero">
          <h2 class="knockout-font white-text uppercase">LA MÁS ALTA CONCENTRACIÓN DE FLÚOR DENTRO DE LA LÍNEA LISTERINE®* <span class=" little-text green-text">(220 ppm/ 0.047% fluoruro de sodio) </span></h2>
          <p class="knockout-font green-text uppercase">*Para Latam.</p>
        </div>
      </div>
    </div><!--  BENEFICIO 1 -->
  </li>
  <li>
   <div class="zero-benefit flex">
     <div class="zero-number">
       <img src="img/shield-2.png" alt="">
     </div>
     <div class="zero-text">
      <div class="wrap-zero">
        <h2 class="knockout-font white-text uppercase">AYUDA A REMINERALIZAR LOS DIENTES PROTEGIENDO EL ESMALTE.</h2>
      </div>
    </div>
  </div><!--  BENEFICIO 2 -->
</li>
<li>
 <div class="zero-benefit flex">
   <div class="zero-number">
    <img src="img/shield-3.png" alt="">
  </div>
  <div class="zero-text">
   <div class="wrap-zero">
    <h2 class="knockout-font white-text uppercase">ZERO ALCOHOL / SABOR SUAVE.</h2>
  </div>
</div>
</div><!--  BENEFICIO 3 -->
</li>
<li>
 <div class="zero-benefit flex">
   <div class="zero-number">
    <img src="img/shield-4.png" alt="">
  </div>
  <div class="zero-text">
   <div class="wrap-zero">
    <h2 class="knockout-font white-text uppercase">ENCÍAS MÁS PROTEGIDAS EN 2 SEMANAS*.</h2>
    <p class="knockout-font green-text uppercase">*(VS SOLAMENTE CON EL CEPILLADO).</p>
  </div>
</div>
</div><!--  BENEFICIO 4 -->
</li>
<li>
 <div class="zero-benefit flex">
   <div class="zero-number">
     <img src="img/shield-5.png" alt="">
   </div>
   <div class="zero-text">
     <div class="wrap-zero">
      <h2 class="knockout-font white-text uppercase">HASTA 12 HORAS DE PROTECCIÓN CONTRA LOS GÉRMENES.</h2>
    </div>
  </div>
</div> <!--  BENEFICIO 5 -->
</li>
<li>
 <div class="zero-benefit flex last-border">
   <div class="zero-number">
     <img src="img/shield-6.png" alt="">
   </div>
   <div class="zero-text">
     <div class="wrap-zero">
      <h2 class="knockout-font white-text uppercase">PARA TODA LA FAMILIA*.</h2>
      <p class="knockout-font green-text uppercase">*USO EN NIñOS MAYORES DE 6 AñOS</p>
    </div>
  </div>
</div><!--  BENEFICIO 6 -->
</li>
</ul>
</div>
</div> <!-- SLIDE 13 -->
<div class="slide profesional-products animated fadeIn" v-if='id==14' slide-id=14>
  <div class="product-line flex"> 
    <div class="line-title pink-bg">
      <h2 class="knockout-font white-text uppercase bottom-adjust">Beneficios <br> Superiores <br> </h2>
      <p class="knockout-font white-text uppercase ">cuidado completo <br> para una boca sana</p>
    </div>
    <div class="line-product">
      <img src="img/listerine-zero.png" alt="">
    </div>
    <div class="line-product">
      <img src="img/6-Beneficios.png" alt="" class='retain-size'>
      <ul class='properties' >
        <li>
          <p class="knockout-font gray-text">• Previene la caries</p>
        </li>
        <li>
          <p class="knockout-font gray-text">• Fortalece el esmalte</p>
        </li>
        <li>
          <p class="knockout-font gray-text">• Previene la placa bacteriana</p>
        </li>
        <li>
          <p class="knockout-font gray-text">• Reduce la formación de cálculo/sarro</p>
        </li>
        <li>
          <p class="knockout-font gray-text">• Aliento fresco</p>
        </li>
      </ul>
    </div>
    <div class="line-product">
      <img src="img/listerine-total.png" alt="">
    </div>
  </div>
  <div class="product-line flex">
   <div class="line-title green-bg">
     <h2 class="knockout-font white-text uppercase">Beneficios <br> Adicionales</h2>
   </div>
   <div class="line-product" v-on:mouseover="enterProduct('product1')" v-on:mouseleave="exitProduct('product1')">
    <img src="img/listerine-anticaries-m.png" alt="">
    <ul class='properties benefit-absolute long-list' id="product1">
      <li>
      <p class="knockout-font gray-text">• Previene la caries, la más alta concentración de flúor dentro de la linea LISTERINE®</p>
      </li>
      <li>
        <p class="knockout-font gray-text">• Ideal para toda la familia</p>
      </li>
      <li>
        <p class="knockout-font gray-text">• Hasta 12 horas de protección contra los gérmenes</p>
      </li>
      <li>
        <p class="knockout-font gray-text">• Encias más protegidas en 2 semanas</p>
      </li>
      <li>
        <p class="knockout-font gray-text">• Ayuda a remineralizar los dientes</p>
      </li>
      <li>
        <p class="knockout-font gray-text">• Fórmula más suave</p>
      </li>
    </ul>
  </div>
  <div class="line-product" v-on:mouseenter="enterProduct('product2')" v-on:mouseleave="exitProduct('product2')">
    <img src="img/listerine-proteccion.png" alt="">
    <ul class='properties benefit-absolute' id="product2">
      <li>
        <p class="knockout-font gray-text">• Protege las encias</p>
      </li>
    </ul>
  </div>
  <div class="line-product" v-on:mouseenter="enterProduct('product3')" v-on:mouseleave="exitProduct('product3')">
    <img src="img/listerine-calculo.png" alt="">
    <ul class='properties benefit-absolute' id="product3">
      <li>
        <p class="knockout-font gray-text">• Previene la formación de cálculo/sarro</p>
      </li>
    </ul>
  </div>
</div>
<div class="product-line flex">
 <div class="line-title blue-bg">
   <h2 class="knockout-font white-text uppercase">Beneficios <br> Básicos</h2>
 </div>
 <div class="line-product" v-on:mouseenter="enterProduct('product4')" v-on:mouseleave="exitProduct('product4')">
  <img src="img/listerine-mentazero.png" alt="">
  <ul class='properties benefit-absolute' id="product4">
    <li>
      <p class="knockout-font gray-text">• Combate los gérmenes que causan el mal aliento y la placa bacteriana, protegiendo las encias</p>
    </li>
    <li>
      <p class="knockout-font gray-text">• Más suave</p>
    </li>
  </ul>
</div>
<div class="line-product" v-on:mouseenter="enterProduct('product5')" v-on:mouseleave="exitProduct('product5')" >
  <img src="img/listerine-coolmint.png" alt="">
  <ul class='properties benefit-absolute' id="product5">
    <li>
      <p class="knockout-font gray-text">• Combate los gérmenes que causan el mal aliento y la placa bacteriana, protegiendo las encias</p>
    </li>
  </ul>
</div>
<div class="line-product" v-on:mouseenter="enterProduct('product6')" v-on:mouseleave="exitProduct('product6')">
  <img src="img/listerine-solucion.png" alt="">
  <ul class='properties benefit-absolute' id="product6">
    <li>
      <p class="knockout-font gray-text">• Combate los gérmenes que causan el <br> mal aliento y la placa bacteriana, protegiendo las encias</p>
    </li>
  </ul>
</div>
</div>
<div class="footnote">
  <p class="knockout-font uppercase align-right gray-text">(1) Cuando es utilizado 2 veces al día, por la mañana y por la noche. *PARA LATAM</p> 
</div>
</div> <!-- /SLIDE 14 -->
<a class="btn back" v-if="id!=minId " @click="backwardSlide()"><img src="img/arrow-back.png" alt=""></a>
<a class="btn forward" v-if="id!=maxId && id!=minId" @click="forwardSlide()"><img src="img/arrow-forward.png" alt=""></a>
</div>
</div>

<script src='js/jquery-3.2.1.min.js'></script>
<script src="https://unpkg.com/vue"></script>
<script src='js/main.js'></script>
</body>
</html>