 <div class="zero-part">
   <ul>
     <li>
       <div class="zero-benefit flex">
         <div class="zero-number">
           <img src="img/shield-1.png" alt="">
        </div>
        <div class="zero-text">
        <div class="wrap-zero">
          <h2 class="knockout-font white-text uppercase">LA MÁS ALTA CONCENTRACIÓN DE FLÚOR DENTRO DE LA LÍNEA LISTERINE®* <span class=" little-text green-text">(220 ppm/ 0.047% fluoruro de sodio) </span></h2>
          <p class="knockout-font green-text uppercase">*Para Latam.</p>
          </div>
        </div>
      </div><!--  BENEFICIO 1 -->
    </li>
    <li>
     <div class="zero-benefit flex">
       <div class="zero-number">
         <img src="img/shield-2.png" alt="">
      </div>
      <div class="zero-text">
      <div class="wrap-zero">
      <h2 class="knockout-font white-text uppercase">AYUDA A REMINERALIZAR LOS DIENTES PROTEGIENDO EL ESMALTE.</h2>
      </div>
      </div>
    </div><!--  BENEFICIO 2 -->
  </li>
  <li>
   <div class="zero-benefit flex">
     <div class="zero-number">
        <img src="img/shield-3.png" alt="">
    </div>
    <div class="zero-text">
     <div class="wrap-zero">
    <h2 class="knockout-font white-text uppercase">ZERO ALCOHOL / SABOR SUAVE.</h2>
    </div>
    </div>
  </div><!--  BENEFICIO 3 -->
</li>
<li>
 <div class="zero-benefit flex">
   <div class="zero-number">
      <img src="img/shield-4.png" alt="">
  </div>
  <div class="zero-text">
   <div class="wrap-zero">
  <h2 class="knockout-font white-text uppercase">ENCÍAS MÁS PROTEGIDAS EN 2 SEMANAS*.</h2>
 <p class="knockout-font green-text uppercase">*(VS SOLAMENTE CON EL CEPILLADO).</p>
 </div>
 </div>
</div><!--  BENEFICIO 4 -->
</li>
<li>
 <div class="zero-benefit flex">
   <div class="zero-number">
     <img src="img/shield-5.png" alt="">
  </div>
  <div class="zero-text">
   <div class="wrap-zero">
  <h2 class="knockout-font white-text uppercase">HASTA 12 HORAS DE PROTECCIÓN CONTRA LOS GÉRMENES.</h2>
  </div>
  </div>
</div> <!--  BENEFICIO 5 -->
</li>
<li>
 <div class="zero-benefit flex last-border">
   <div class="zero-number">
     <img src="img/shield-6.png" alt="">
  </div>
  <div class="zero-text">
 <div class="wrap-zero">
  <h2 class="knockout-font white-text uppercase">PARA TODA LA FAMILIA*.</h2>
 <p class="knockout-font green-text uppercase">*USO EN NIñOS MAYORES DE 6 AñOS</p>
</div>
 </div>
</div><!--  BENEFICIO 6 -->
</li>
</ul>
</div>
<style>
  .zero-alcohol{
.zero-part{
.zero-pack{
width:70%;
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
width:55%;
}
@media screen and (max-width: 680px){
width: 40%;
margin-top: 12%;
}
@media screen and (min-width: 1600px){
width:50%;
}
}
.zero-ingredients{
width:100%;
@media screen and (max-width: 680px){
display:none;
}
}
ul{
padding:0;
margin: 0;
list-style:none;
.zero-benefit{
border-bottom:solid 3px #3f9a73;  
.zero-number{
background-color:#00a77b;
padding: 2% 3% 2% 3%;
width: 11%;
@media screen and (max-width: 680px){
width: 100%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
padding: 3% 4% 2% 3%;
}
@media screen and (min-width: 1600px){
padding: 3% 3% 2% 3%;
}
}//Zero-NUMBER
.zero-text{
width: 100%;
@media screen and (max-width: 680px){
padding: 5% 0 5% 0;
}  
.wrap-zero{
width:86%;
margin: 0 auto;
@media screen and (min-width: 1600px){
width:90%;
}
}
text-align:left;
h2{
font-size:2em;
margin:1%;
@media screen and (max-width: 680px){
font-size:1.6em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
font-size:1.1em;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
font-size:1.4em;
}
@media screen and (min-width: 1600px){
font-size:2.5em;
}
}
p{
margin: 2px 0 2px;
}
}//Zero-text
}//ZERO-BENEFIT
}//ul
}//ZERO-PART
.mobile{
display:none;
@media screen and (max-width: 680px){
display:block;
}
}
}//ZERO-ALCOHOL
</style>